<!-- =====================탬플릿 상속용====================== -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Source+Sans+Pro:wght@400;600&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/all.min.css">
<link rel="stylesheet" th:href="@{/css/main_jjj.css}">
<link rel="stylesheet" th:href="@{/css/weather_syw.css}">
<script src="https://kit.fontawesome.com/9de2584b86.js"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link rel="stylesheet" href="/css/kty.css">
<link rel="stylesheet" href="/css/product_detail.css">
<script th:src="@{/js/kty_join.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<!-- sweetalert2 CDN-->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<!-- 다음 주소 검색 api-->
<script th:src="@{/js/kty_mypage.js}"></script>
<script th:src="@{/js/kty_find_pwd.js}"></script>
<script th:src="@{/js/kty_find_id.js}"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- 체크인, 체크아웃 끝 -->
<!-- jquery datepicker -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<!-- 체크인, 체크아웃 끝 -->

<!-- kdg 휴대전화 문자인증 -->
<!-- <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-analytics.js"></script> -->

<title>경상도숙박장사</title>

</head>

<body class="jj_main">
	<!-- <div id="header" class="deactive">    네비 부분  -->
	<nav class="jj_navbar" id="header">
		<div class="jj_navbar_logo">
			<a th:href="@{/}" class="main_logo"> <span>D</span> <span>A</span>
				<span>E</span> <span>B</span> <span>A</span> <span>K</span>
			</a>
			<!-- 클릭했을 때 홈화면으로 돌아감-->
			<!--             <i class="fa-solid fa-person-walking-luggage"></i> -->
		</div>

		<div class="jj_menubar">
			<!-- 검색창 -->
			<ul class="jj_navbar_menu">
				<div class="jj_search">
					<input type="text" placeholder="검색어를 입력해주세요" id="search"> <i
						class="fa-solid fa-magnifying-glass" id="jj_search_icon"></i>
				</div>
				<li sec:authorize="hasRole('ADMIN')"><a
					th:text="${#authentication.principal.username}" class="nav-link"></a>
					님 반갑습니다! (ADMIN)</li>
				<li sec:authorize="hasRole('PARTNER')"><a
					th:text="${#authentication.principal.username}" class="nav-link"></a>
					님 반갑습니다! (PARTNER)</li>
				<li sec:authorize="hasRole('USER')"><a
					th:text="${#authentication.principal.username}" class="nav-link"></a>
					님 반갑습니다! (USER)</li>
				<!-- 				<tbody th:each="user : ${users}" th:data-user-id="${user.id}"> -->
				<!-- 					<li sec:authorize="isAuthenticated()"><span -->
				<!-- 						class="userinfo_td_gap" th:text=" ${user.username}"></span></li> -->
				<!-- 				</tbody> -->
				<li sec:authorize="isAnonymous()"><a class="nav-link"
					th:href="@{/user/login}">로그인</a></li>
				<li sec:authorize="isAuthenticated()"><a class="nav-link"
					th:href="@{/user/logout}">로그아웃</a></li>
				<li sec:authorize="hasAnyRole('PARTNER', 'SNS_USER','USER')"><a class="nav-link" th:href="@{/user/mypage/me}">마이페이지</a></li>
				<li sec:authorize="isAnonymous()"><a class="nav-link"
					th:href="@{/user/signup}">회원가입</a></li>
				<!--예약내역 th:href@{} 연결부분 페이지 완성 s되면 수정해주세요(수정필요2)-->
				<li sec:authorize="isAnonymous()"><a class="nav-link"
					th:href="@{user/mypage/my_booking}">예약내역</a></li>
				<th:block sec:authorize="hasRole('ADMIN')">
					<li><a class="nav-link" th:href="@{/admin/main}">관리자페이지</a></li>
				</th:block>
				<li><a href="" class="jj_drop">더보기<i
						class="fas fa-angle-down"></a></i>
					<div class="jj_list">
						<a th:href="@{/more/noticeList}">공지사항</a>
						<!-- 테스트 -->
						<a th:href="@{/more/inquiry}">1:1문의</a> <a href="#">이벤트</a>
					</div></li>
				<li>
					<div class="weather-container">
						<div class="weather-icon"></div>
						<div class="weather-temp"></div>
						<div class="weather-details">
							<div style="margin-bottom: 5px;">
								<span>대구날씨</span>
							</div>
							<div>
								최저 온도: <span class="lowtemp"></span>°C / 최고 온도: <span
									class="hightemp"></span>°C
							</div>
							<a href="https://air.daegu.go.kr/open_content/ko/index.do"
								class="weather-forecast-btn" style="color: white;">일기예보 자세히
								보기</a>
						</div>
					</div>
				</li>


			</ul>
		</div>
		<!-- 햄버거 메뉴 아이콘 추가 -->
		<a href="#" class="jj_navbar_toogleBtn"> <i
			class="fa-solid fa-bars"></i>
		</a>
	</nav>
	<!--     </div> -->
	<th:block layout:fragment="content"></th:block>
	<script src="/js/main_jjj.js"></script>
	<script src="/js/product_detail.js"></script>
	<script src="/js/weather_syw.js"></script>

</body>
</html>