<!DOCTYPE html>
<html>
<head>
    <title>DAEBAK</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
  <link rel="stylesheet" th:href="@{/css/admin_dashboard.css}">
    <script th:src="@{/js/admin_dashboard.js}"></script>
</head>
<body>
<html layout:decorate="~{khk/adminNavbar}">
<div layout:fragment="adminNav" class="container my-3">
  	<h1 id="admin_dashboard_main">ADMIN_DashBoard</h1>
 <div class="dashboard_kkk">
  	<!--  파이차트 -->  
    	<label id="user_count_kty">회원통계</label> 
    <div class="roles_count_kty">
        <canvas id="roleChart" ></canvas>
    </div>
    
    <!--  막대차트 -->
     <label id="user_count_kty2">숙소 유형별 통계</label>
    <div class="roles_count_kty2">
      <canvas id="sectorChart"></canvas>
    </div>
    
 	<label id="book_count_kty4">예약 및 취소 통계</label> 
 <div class="roles_count_kty3">
    <p><strong>[ Today ]  </strong> <span th:text="${currentDate}"></span></p>
    <table>
        <tr>
        </tr>
        <tr>
            <td><div id="today_booking_kty"> 금일 예약 건 수  </div></td>
            <td><span id="todayBookingCount"></span><span> 건</span></td>
        </tr>
        <tr>
            <td><div id="today_total_kty1"> 예약 금액 총 액  </div></td>
            <td><span id="todayTotalmoney"></span><span> 원</span></td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td><div id="today_booking_kty44"> 금일 취소 건 수  </div></td>
            <td><span id="todayTotaCancle"></span><span> 건</span></td>
        </tr>
        <tr>
            <td><div id="today_booking_kty44"> 금일 취소 총 액  </div></td>
            <td><span id="todayTotalcal2"></span><span> 원</span></td>
        </tr>
    </table>
</div>

    </div>
    
      <!-- - 방문자 통계 라인차트 -->
  	<label id="book_count_kty5">주간 방문자 통계</label> 
   	<div class="test">
   	   <canvas id="lineChart"></canvas>
   	</div>
    
</div>
</div>
</body>
</html>