<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=앱키"></script>
	<title>대구 숙박은 DAE BAK</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/kty2.css">
	<script th:src="@{/js/kty2.js}"></script>
</head>

<body>
	<div class="nav-line"></div>
	<!-- 네비게이션을 그리는1 ss선 -->
	<div class="nav-area">
		 <input type="button" id="current_me_position" value="내 현재 위치"> 
		<br> <span id="daegu_top10_title">DAE BAK이 추천하는 대구 여행 코스 ❤️</span>
		<div class="box"></div>
	</div>
	<header>
		<html layout:decorate="~{jjj/header}">
	<div id="my_infomation_modify" layout:fragment="content"
	class="container my-3">
	</header>
	</div>
	<div id="address-map">
		<div id="map">
		<script th:src="@{/js/kty_map2.js}"></script>

		
		</div>
	</div>
</body>

</html>