<!DOCTYPE html>
<html>

<head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<!-- sweetalert2 CDN-->
<link rel="stylesheet" href="/css/my_product_booklist.css">
<script th:src="@{/js/my_product_booklist.js}"></script>

</head>

<body id="userinfo_modify">
<html layout:decorate="~{jjj/header}">
<div id="my_infomation_modify" layout:fragment="content"
	class="container my-3">


	<div class="content-container">
		<!-- 사이드 바 -->
		<nav id="mypage_sidebar_nav">
			<ul>
				<li class="mypage_sidebar"><a th:href="@{/user/mypage/me}">내
						정보</a></li>
				<!-- <li class="mypage_sidebar"><a th:href="@{/user/mypage/my_booking}" class="active">예약
						내역</a></li> -->
				<li class="mypage_sidebar"><a
					th:href="@{/user/mypage/my_booking}">예약 내역</a></li>
				<li class="mypage_sidebar"><a
					th:href="@{/user/mypage/my_inquiry}"> 문의 내역</a></li>
				<li class="mypage_sidebar"><a
					th:href="@{/user/mypage/partner_reg}">파트너 신청</a>
				<li class="mypage_sidebar"><a
					th:href="@{/user/mypage/my_partner_reg}">파트너 신청 내역</a></li>
				</li>
				<li class="mypage_sidebar"><a
					th:href="@{/user/mypage/my_productList}"
					sec:authorize="hasRole('ROLE_PARTNER')"> 내 상품 목록</a></li>
				<li class="mypage_sidebar"><a
					th:href="@{/user/mypage/my_acc_bookList}"
					sec:authorize="hasRole('ROLE_PARTNER')" class="active"> 내 업소
						예약리스트</a></li>
			</ul>
		</nav>
		<div class="content-container">
			<h2 class="inquiry-heading">내 숙소 예약 리스트</h2>
			<div class="hidden_kty_hidden">
				<span>사장님 명 : </span> <span id="username"
					th:text="${#authentication.name}"></span>
			</div>
			<input type="date" id="datePicker" class="select_acc_nam_2"
				onchange="filterByDateAndAcc()"> <select id="accSelect"
				class="select_acc_nam_2" onchange="filterByDateAndAcc()">
				<option>모두</option>
				<option th:each="account : ${acc}" th:text="${account.acc_name}"></option>
			</select>

			<table id="booking-table" class="boss_sell_name">
				<thead>
					<tr>
						<th>예약번호</th>
						<th>숙소명</th>
						<th>객실명</th>
						<th>예약자ID</th>
						<th>예약자번호</th>
						<th>체크인</th>
						<th>체크아웃</th>
						<th>예약상태</th>
						<th>취소신청</th>
						<th>신청결과</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="book : ${booking}"
						th:if="${book.accommodation != null and book.accommodation.username == #authentication.name}">
						<td data-booknum="${book.bookNum}" th:text="${book.bookNum}"></td>
						<td th:text="${book.accomTitle}"></td>
						<td th:text="${book.roomTitle}"></td>
						<td><span
							th:text="${#strings.substring(book.bookerID, 0, 2)} + '****'"></span>
						</td>
						<td><span
							th:text="${#strings.replace(#strings.substring(book.bookerTel, 0, 3) + '-' + #strings.substring(book.bookerTel, 3, 4) + '***-****', '********', '****-****')}"></span>
						</td>
						<td th:text="${book.checkin}"></td>
						<td th:text="${book.checkOut}"></td>
						<td><span th:block
							th:if="${book.bookStatus == 'CANCEL_PAYMENT' || book.bookStatus == 'CANCELED'}">취소
								완료</span> <span
							th:unless="${book.bookStatus == 'CANCEL_PAYMENT' || book.bookStatus == 'CANCELED'}"
							th:text="${book.bookStatus}"></span></td>
						<td id="hidden_part_name" th:text="${book.accommodation.username}"></td>
						<td>
							<button class="cancelButtondd" onclick="openModal(this)"
								th:if="${book.bookStatus == '예약완료'}">취소요청</button>
						<td><span th:each="cancelReq : ${cancleList}"
							th:if="${cancelReq.bookNumValue == book.bookNum && cancelReq.result == '1'}">거절</span>
							<span th:each="cancelReq : ${cancleList}"
							th:if="${cancelReq.bookNumValue == book.bookNum && book.bookStatus == '예약완료' && cancelReq.result != '1'}">처리중</span>
							<span th:each="cancelReq : ${cancleList}"
							th:if="${cancelReq.bookNumValue == book.bookNum && cancelReq.result != '1' && book.bookStatus != '예약완료'}"></span>
						</td>

					</tr>

				</tbody>
			</table>
			<!--  모달  -->
			<div class="modal" id="myModal">
				<div class="modal-content">
					<span class="close" onclick="closeModal()">&times;</span> <strong
						id="st_kty_title">예약 취소 요청</strong><br>
					<form id="cancellationForm">
						<textarea id="reasonCancle" rows="15" cols="60"
							placeholder="취소 사유를 입력해주세요."></textarea>
						<input type="hidden" id="bookNumValue" /> <input type="hidden"
							id="authenticatedUserName" />
						<button type="button" id="submitButton"
							onclick="submitCancellation()">제출하기</button>
					</form>
				</div>
			</div>
			<!--  모달 끝 -->


			<div>
				<ul class="pagination">
					<!-- 이전 페이지 -->
					<li class="page-item page_previous"
						th:classappend="${booking.number == 0} ? 'disabled'"><a
						class="page-link"
						th:href="@{/mypage/my_acc_bookList(page=${booking.number - 1})}">이전</a>
					</li>
					<!-- 페이지 번호들 -->
					<li th:each="i : ${#numbers.sequence(0, booking.totalPages - 1)}"
						th:class="${i == booking.number} ? 'active page-item' : 'page-item'">
						<a class="page-link"
						th:href="@{/user/mypage/my_acc_bookList(page=${i})}"
						th:text="${i + 1}"></a>
					</li>
					<!-- 다음 페이지 -->
					<li class="page-item page_next"
						th:classappend="${booking.number+1 == booking.totalPages} ? 'disabled'">
						<a class="page-link"
						th:href="@{/mypage/my_acc_bookList(page=${booking.number + 1})}">다음</a>
					</li>
				</ul>
			</div>


			<div id="noMatchMessage">
				<strong>예약내역이 없습니다.</strong>
			</div>


		</div>



		<!--  여기에 내용ㅇ없음 부분 -->

	</div>


	</body>
</html>