<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="/css/my_booking.css">
</head>

<body id="userinfo_modify">
<html layout:decorate="~{jjj/header}">
<div id="my_infomation_modify" layout:fragment="content"
	class="container my-3">






	<!-- 사이드 바 -->
	<nav id="mypage_sidebar_nav">
		<ul>
			<li class="mypage_sidebar"><a th:href="@{/user/mypage/me}">내
					정보</a></li>
			<!-- <li class="mypage_sidebar"><a th:href="@{/user/mypage/my_booking}" class="active">예약
						내역</a></li> -->
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/my_booking}" class="active">예약 내역</a></li>
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/my_inquiry}"> 문의 내역</a></li>
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/partner_reg}">파트너 신청</a>
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/my_partner_reg}">파트너 신청 내역</a></li>
			</li>
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/my_productList}"
				sec:authorize="hasRole('ROLE_PARTNER')"> 내 상품 목록</a></li>
		<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/my_acc_bookList}" sec:authorize="hasRole('ROLE_PARTNER')"> 내 업소 예약리스트</a></li>
		</ul>
	</nav>
	<div id="wrap">
		<div id="container" th:each="book : ${paging.content} ">
				
			   <div id="left">
				<!-- <img th:src="${book.productImg}" 
								alt="Product Image" width="100%"
								height="100%" class="">    -->
				<!-- 이미지 태그에 회색 필터 클래스를 적용 -->
				<img th:src="${book.productImg}"
					th:class="${book.bookStatus == '예약만료' or book.bookStatus == 'CANCEL_PAYMENT' 
            or book.bookStatus == '이용완료' ? 'gray-filter' : ''}"
					alt="Product Image" width="100%" height="100%" />
			</div>
			<span id="tid" hidden th:text="${book.tid}"></span><Br>
			<div th:if="${paging.content.size() >0}" id="right">
				<p id="p-right"
					th:class="${book.bookStatus == '예약만료' or book.bookStatus == 'CANCEL_PAYMENT' or book.bookStatus == '이용완료' ? 'gray-text' : ''}">
					<b th:text="${book.AccomTitle}"></b><br> <span
						th:text="${book.roomTitle}"></span><Br> <span
						th:text="${book.checkin}"></span> ~ <span
						th:text="${book.checkOut}"></span>
			
				<hr>
				<span id="amount" class="in_price" th:inline="text">
					[[${book.totalPrice}]] </span><br> <span
					th:text="${book.paymentDate}"></span> 
					<span id="payType" th:text="${book.payType}"></span><br>
					<span th:text="${book.tempAccomId}" id="book_accID" ></span>
					<span th:text="${book.tempRoomId}" id="book_roomID"></span>
				<!-- <button id="cancelBtn">예약취소</button> -->
				<!-- <button id="cancelBtn" class="cancelBtn"
					th:class="${book.bookStatus == '이용중' or book.bookStatus == 'CANCEL_PAYMENT' or book.bookStatus == '이용완료' ? 'gray-button' : 'cancelBtn'}"
					th:text="${book.bookStatus == '이용중' or book.bookStatus == 'CANCEL_PAYMENT' or book.bookStatus == '이용완료' ? '만료' : '예약취소'}">예약취소</button> -->
					<button id="cancelBtn" class="cancelBtn"
    th:class="${book.bookStatus == '이용중' ? 'cancelBtn3' : (book.bookStatus == 'CANCEL_PAYMENT' or book.bookStatus == '이용완료' or book.bookStatus == 'CANCELED'? 'gray-button' : 'cancelBtn')}"
    th:text="${book.bookStatus == '이용중' ? '이용중' : book.bookStatus == '이용완료' ? '이용완료' : '예약취소'}">예약취소</button>
					
					<!--  수정 중
					<div class="ssss21131231" th:each="acc : ${book.accommodation}">
					<div th:text="${#authentication.name}"></div>
			 			<div th:text="${acc.acc_name}">
			 			</div>
			 			<div th:each="review : ${acc.reviews}">
			 					<div th:text="${review.author}"></div>
			 				</div>
			 		</div> -->
			 		
			 
			<button id="cancelBtn2" class="reviewBtn"
    th:if="${book.bookStatus == '이용완료'}"
    th:text="'리뷰작성'"
    th:attr="data-accomid=${book.tempAccomId},data-roomid=${book.tempRoomId},data-in=${book.checkin}"
    onclick="disableButton(this)">리뷰작성</button>
				</p>
				
			
			</div>
			<!-- <span><span id="del" th:onclick="|location.href='/user/mypage/my_booking_del/${book.bookNum}'|">&#215;</span></span> -->
			<span class="delParents">
			  <span id="del" th:if="${book.bookStatus == '예약완료'}" th:onclick=warnning()>&#215;</span>
			  <span id="del" th:if="${book.bookStatus == '이용중'}" th:onclick=warnning2()>&#215;</span>
			  <span th:if="${book.bookStatus != '이용중' and book.bookStatus != '예약완료'}" th:onclick="|location.href='/user/mypage/my_booking_del/${book.bookNum}'|">&#215;</span>
			</span>
		</div> <!--  영역끝 -->


		<!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
    <ul class="pagination">
        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
            <a class="page-link prevPageBtn"
               th:href="@{|?page=${paging.number-1}|}">
                <span>이전</span>
            </a>
        </li>
        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
            th:if="${page >= paging.number-2 and page <= paging.number+2}"
            th:classappend="${page == paging.number} ? 'active'" 
            class="page-item">
            <a th:text="${page+1}" class="page-link page-number" th:href="@{|?page=${page}|}"></a>
        </li>
        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
            <a class="page-link page_next" th:href="@{|?page=${paging.number+1}|}">
                <span>다음</span>
            </a>
        </li>
    </ul>
</div>
    <!-- 페이징처리 끝 -->


		
		<div class="center-content" th:if="${paging.content.size()<1}">
			<h1>예약 내역이 없습니다.</h1>
			<span id="intro_acc">다양한 숙소들을 지금 만나보세요</span>
			 <a th:href="@{/tour/daegu_room}"	class="btn_red">다양한 숙소 보러가기</a>
		</div>			
		
	</div>



	<!-- 이게 아니라 버튼에서 바로 매핑된 컨트롤러로 이동해야함. fetch를 거치는게 아니라 button에 매핑된 url로 s바로 이동해야함. -->
	<script src="/js/kdg_my_booking_review_bookingList.js"></script>
	</body>

</html>