<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="/css/my_booking.css">
</head>

<body id="userinfo_modify">
<html layout:decorate="~{jjj/header}">
<div id="my_infomation_modify" layout:fragment="content"
	class="container my-3">






	<!-- 사이드 바 -->
	<nav id="mypage_sidebar_nav">
		<ul>
			<li class="mypage_sidebar"><a th:href="@{/user/mypage/me}">나의
					정보</a></li>
			<!-- <li class="mypage_sidebar"><a th:href="@{/user/mypage/my_booking}" class="active">예약
						내역</a></li> -->
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/my_booking}" class="active">예약 내역</a></li>
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/my_inquiry}"> 문의 내역</a></li>
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/partner_reg}">파트너 신청</a>
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/my_partner_reg}">파트너 신청 내역</a></li>
			</li>
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/my_productList}"
				sec:authorize="hasRole('ROLE_PARTNER')"> 내 상품 목록</a></li>
		</ul>
	</nav>
	<div id="wrap">
		<div id="container" th:each="book : ${bookList}">
			<div id="left">
				<!-- <img th:src="${book.productImg}" 
								alt="Product Image" width="100%"
								height="100%" class="">    -->
				<!-- 이미지 태그에 회색 필터 클래스를 적용 -->
				<img th:src="${book.productImg}"
					th:class="${book.bookStatus == '예약만료' or book.bookStatus == 'CANCEL_PAYMENT' 
            or book.bookStatus == '이용완료' ? 'gray-filter' : ''}"
					alt="Product Image" width="100%" height="100%" />
			</div>
			<span id="tid" hidden th:text="${book.tid}"></span><Br>
			<div th:if="${bookList.size() >0}" id="right">
				<p id="p-right"
					th:class="${book.bookStatus == '예약만료' or book.bookStatus == 'CANCEL_PAYMENT' or book.bookStatus == '이용완료' ? 'gray-text' : ''}">
					<b th:text="${book.AccomTitle}"></b><br> <span
						th:text="${book.roomTitle}"></span><Br> <span
						th:text="${book.checkin}"></span> ~ <span
						th:text="${book.checkOut}"></span>
				<hr>
				<span id="amount" class="in_price" th:inline="text">
					[[${book.totalPrice}]] </span><br> <span
					th:text="${book.paymentDate}"></span> <span
					th:text="${book.payType}"></span><br> <span
					th:text="${book.accomID}" style="display: none;"></span>
				<!-- <button id="cancelBtn">예약취소</button> -->
				<!-- <button id="cancelBtn" class="cancelBtn"
					th:class="${book.bookStatus == '이용중' or book.bookStatus == 'CANCEL_PAYMENT' or book.bookStatus == '이용완료' ? 'gray-button' : 'cancelBtn'}"
					th:text="${book.bookStatus == '이용중' or book.bookStatus == 'CANCEL_PAYMENT' or book.bookStatus == '이용완료' ? '만료' : '예약취소'}">예약취소</button> -->
				<button id="cancelBtn" class="cancelBtn"
					th:class="${book.bookStatus == '이용중' ? 'cancelBtn3' : (book.bookStatus == 'CANCEL_PAYMENT' or book.bookStatus == '이용완료' ? 'gray-button' : 'cancelBtn')}"
					th:text="${book.bookStatus == '이용중' ? '이용중' : book.bookStatus == '이용완료' ? '이용완료' : '예약취소'}">예약취소</button>

				<button id="cancelBtn2" class="reviewBtn"
					th:if="${book.bookStatus == '이용완료'}" th:text="'리뷰작성'"
					th:attr="data-accomid=${book.accomID}"
					onclick="disableButton(this)">리뷰작성</button>
				</p>



			</div>
		</div>
		<!--  영역끝 -->


		<div class="center-content" th:if="${bookList.size()<1}">
			<h1>예약 내역이 없습니다.</h1>
			<span id="intro_acc" style="color: grey;">다양한 숙소들을 지금 만나보세요</span> <a
				th:href="@{/tour/daegu_room}" class="btn_red">다양한 숙소 보러가기</a>
		</div>

	</div>


	<script th:src="@{/js/my_booking.js}"></script>
	</body>
</html>