<!DOCTYPE html>
<html lang="ko">

<head>
<link rel="stylesheet" href="css/kty_review.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/kty_review.js}"></script>
<title></title>
</head>

<body>

	<div class="review_mb-3" name="myform" id="myform">
		<br> <span id=review_title>별점과 이용경험을 남겨주세요.</span><br>
		<fieldset>
			<input type="radio" name="reviewStar" value="5" id="rate1"><label
				for="rate1">★</label> <input type="radio" name="reviewStar"
				value="4" id="rate2"><label for="rate2">★</label> <input
				type="radio" name="reviewStar" value="3" id="rate3"><label
				for="rate3">★</label> <input type="radio" name="reviewStar"
				value="2" id="rate4"><label for="rate4">★</label> <input
				type="radio" name="reviewStar" value="1" id="rate5"><label
				for="rate5">★</label>
		</fieldset>
		<div>
			<textarea class="col-auto form-control" name="reviewContents"
				id="reviewContents" placeholder="좋은 리뷰를 남겨주시면 경상도숙박업소에 큰 힘이 됩니다!"></textarea>
		</div>
		<button type="button" id="review_confirm">리뷰작성</button>
		<div id="sss">
			<h2>리뷰 내역</h2>
	
			<ul id="review_list">
				<li th:each="review : ${paging}"
					style="border-bottom: 1px solid grey; width: 500px; padding-top: 10px; margin-top: 10px;">
					<p>
						<span th:text="${review.author}" style="font-weight: bold"></span>
						<button type="button" class="declaration"
							style="margin-left: 350px;" data-target="modal_declaration"
							th:data-review-id="${review.id}">신고</button>
					</p>
					<p class="start_score">
						<!-- 별점 표시 -->
						<span th:if="${review.rating} == 1"
							style="color: rgb(210, 210, 0);">★</span> --> <span
							th:if="${review.rating} == 2" style="color: rgb(210, 210, 0);">★
							★</span> <span th:if="${review.rating} == 3"
							style="color: rgb(210, 210, 0);">★ ★ ★</span> <span
							th:if="${review.rating} == 4" style="color: rgb(210, 210, 0);">★
							★ ★ ★</span> <span th:if="${review.rating} == 5"
							style="color: rgb(210, 210, 0);">★ ★ ★ ★ ★</span> <span
							style="margin-left: 10px; font-weight: bold;"
							th:text="${review.rating}"></span>
					</p> <!-- Review 내용 표시 -->
					<p>
						<span th:text="${review.contentForDisplay}"></span>
					</p>

					<p>
						<span class="time_real"
							th:text="${#temporals.format(review.create_reivew_Time, 'yyyy. MM. dd.  HH:mm')}"
							style="color: grey;"></span>
					</p> <br>
				</li>
			</ul>

		</div>

		<!--  모달 (신고) -->

		<div id="myModa" class="modal_declaration">
			<div class="modal-content_declaration">
				<span class="close">&times;</span>
				<h3 style="text-align: center;">회원 신고</h3>
				<div style="font-weight: bold;">신고 사유</div>
				<br>
				<form id="declarationForm" data-review-id="${review.id}">
					<select id="reason_dec" name="reason">
						<option value="">선택하세요</option>
						<option value="욕설">욕설</option>
						<option value="도배">도배</option>
						<option value="광고">광고</option>
						<option value="욕설 및 비방">욕설 및 비방</option>
						<option value="허위·과장">허위·과장</option>
						<option value="기타">기타</option>
					</select><br>
					<br>
					<div style="font-weight: bold;">상세 내용</div>
					<br>
					<textarea id="decl_detail" style="height: 280px; width: 380px;"
						placeholder="상세 사유를 작성하세요"></textarea>
					<br> <input type="submit" value="제출" id="declr_btn">
				</form>
			</div>
		</div>
</body>


</body>

</html>