
<!DOCTYPE html>


<html layout:decorate="~{jjj/header}">
<div layout:fragment="content" class="container my-3">


	<head>
<meta charset="UTF-8">
<title>상품수정</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/pyr_modifyRoom.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.min.css">

	</head>

	<div id="modifyRoomContent">

		<div id="productListContainer">
			<div id="title">
				<h1>상품 수정</h1>
			</div>
			<div id="productContainer" class="box">
				<div class="boxCintainer">

					<div class="itemexer">

						<div th:if="${not #lists.isEmpty(product.productImgs)}"
							class="slideshow-container">
							<!-- 해당 배열의 이미지를 보여줌 -->
							<div th:each="img : ${product.productImgs}" class="imgContainer">
								<div class="slide">

									<!-- 해당 이미지의 경로를 가져온다.   -->
									<img th:src="${img.img_url}" alt="Product Image" width="100%"
										height="100%" class="showImgs"><span
										th:text="${img.img_id}" style="display: none;" class="img_id"></span>
								</div>
								<div class="prev">&lt;</div>
								<div class="next">&gt;</div>
							</div>
						</div>

					</div>

					<div class="imgLists">
						<ul class="image-list">
							<li th:each="img : ${product.productImgs}">
								<div class="img_list_position">
									<img th:src="${img.img_url}" alt="Product Image"
										class="list_img"> <span th:text="${img.img_id}"
										style="display: none;" class="list_img_id"></span>

									<div class="imgLists_deleteButton_position">
										<button class="imgLists_deleteButton">x</button>
									</div>
								</div>
							</li>
						</ul>

						<div class="imageUploadContainer">
							<button class="addImagesButton">이미지 추가</button>
							<input type="file" name="images[]" multiple
								class="imageUploadInput">
						</div>
					</div>
				</div>



				<div class="Product_contents">

					<p style="display: none;">
						객실 번호 <span th:text="${product.product_id}" class="product_id"></span>
					</p>

					<div class="prName">
						<p>객실 이름 입니다</p>
						<input type="text" class="edit_type"
							th:value="${product.product_type}">
					</div>

					<div class="pdDetail">
						<p>상세 설명</p>
						<textarea class="edit_detail" th:text="${product.product_detail}"></textarea>
					</div>


					<div class=pdAmount>
						<p>금액</p>
						<input type="number" class="edit_amount"
							th:value="${product.product_amount}">
					</div>

					<div class="pdCountArea">

						<p>
							객실수 </span> <input type="number" class="edit_count"
								th:value="${product.product_count}">
						</p>
						<p>
							최대인원 <input type="number" class="edit_pernum"
								th:value="${product.product_pernum}">
						</p>
					</div>

					<div class="pdTimeArea">

						<p>
							체크인 <input type="time" class="edit_checkin"
								th:value="${product.checkin}">
						</p>
						<p>
							체크아웃 <input type="time" class="edit_checkout"
								th:value="${product.checkout}">
						</p>

					</div>

					<div class="btnArea">
						<button class="resetProduct">초기화</button>
						<button class="cancelProduct">수정취소</button>
					</div>

					<div class="okBtnArea">
						<button class="editOkProduct">수정완료</button>
					</div>

				</div>
			</div>

		</div>

	</div>

	<script src="/js/pyr_modifyRoom.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.all.min.js"></script>

</div>

</html>