<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript"
   src="//dapi.kakao.com/v2/maps/sdk.js?appkey=976e820c4563105a585eb83c8ea88bd6&libraries=services"></script>

<script
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script th:src="@{/js/kty_review.js}"></script>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link rel="stylesheet" href="/css/product_detail.css">
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<!-- 다음 주소 검색 api-->
<script th:src="@{/js/product_detail.js}"></script>
<link rel="stylesheet" href="/css/dec_kty.css">
<!-- 김도겸 css -->
<link rel="stylesheet" href="/css/product_detail_kdg.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<!-- 김도겸 css 끝 -->

</head>
<body>
<html layout:decorate="~{jjj/header}">
<div layout:fragment="content" class="container my-3">
   <div class="page_container">
      <div class="page_left">
         <div class="left_main_image">
            <img class="fixed_image" th:src="${acc.acc_img}" alt="숙소">
         </div>
      </div>
      <!--  page container 끝 -->


      <div class="page_right">
         <!--  숙소명 -->
         <p class="hotelname" th:text="${acc.acc_name}"></p>
         <!--  평점 -->
         <span class="score_start"
            th:text="${acc.acc_rating eq 1 ? '★ ✩ ✩ ✩ ✩' : 
                                 acc.acc_rating eq 2 ? '★ ★ ✩ ✩ ✩' :
                                 acc.acc_rating eq 3 ? '★ ★ ★ ✩ ✩' :
                                 acc.acc_rating eq 4 ? '★ ★ ★ ★ ✩ ' :
                                 acc.acc_rating eq 5 ? '★ ★ ★ ★ ★' :
                                 '✩ ✩ ✩ ✩ ✩'}"></span>
         <span id="acc_score"
            th:text="${acc.acc_rating eq 0 ? '': acc.acc_rating}"></span> <span
            class="acc_rating_tang"
            th:text="'(' + ${#lists.size(acc.reviews)} + ')'"></span>

         <p class="hoteladdress" th:text="${acc.acc_address}"></p>
         
         <div class="room_detail_fee">
         <span class="room_detail_fee1">평균 숙박 가격 </span>&nbsp<span
            class="room_detail_fee2" th:text="${acc.acc_averPrice}"></span><span>
            원</span>
         </div>
         <div class="coment_author">
            <p class="boss_coments">사장님 한마디</p>
            <p class="hotelcomment" th:text="${acc.acc_explain}"></p>
         </div>
      </div>
   </div>

   <div class="page_tab">
      <ul class="page_tabs">
         <li><a href="#view1" onclick="changeTabColor(0)" class="active">객실안내/예약</a></li>
         <li><a href="#view2" onclick="changeTabColor(1)">숙소정보</a></li>
         <li><a href="#view3" onclick="changeTabColor(2)">리뷰</a></li>
      </ul>
      <div class="tabcontents">
         <!--  객실 부분 --->
			<div id="view1">
				<section id="datepicker-container">
					<input type="text" id="datepicker1" name="checkin" required>
					<button id="date-choose" onclick="totalPrice()">선택완료</button>
				</section>
				<div class="room" th:each="product : ${acc.products}">
					<span id="accomid" th:text="${acc.id}" hidden></span>

					<div class="pic_view">
						<!-- <img th:src="${product.productImgs[0].img_url}"
							th:classappend="${product.product_count <= 0 ? 'gray-filter' : ''}"
							alt="Product Image" width="100%" height="100%" class=""> -->
							<div th:if="${not #lists.isEmpty(product.productImgs)}" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
							    <div class="swiper-wrapper">
							      <div th:each="img : ${product.productImgs}" class="swiper-slide">
							        <img th:src="${img.img_url}" th:classappend="${product.product_count <= 0 ? 'gray-filter' : ''}" alt="Product Image" width="100%" height="100%" class="">
							      </div>
							    </div>
					    <div class="swiper-button-next"></div>
					    <div class="swiper-button-prev"></div>
					  </div>
					  <div thumbsSlider="" class="swiper mySwiper">
					    <div class="swiper-wrapper">
							      <div th:each="img : ${product.productImgs}" class="swiper-slide">
							        <img th:src="${img.img_url}" th:classappend="${product.product_count <= 0 ? 'gray-filter' : ''}" alt="Product Image" width="100%" height="100%" class="">
							      </div>
							    </div>
					  </div>
					</div>
					
					<!-- Swiper JS -->
					<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
					<!-- Initialize Swiper -->
					<script src="/js/product_detail_slide.js"></script>
					
               <div class="room_info"
                  th:classappend="${product.product_count <= 0 ? 'gray-text' : ''}">
                  <strong class="title" th:text="${product.product_type}"></strong>
                  <div class="hotel">
                     <div class="price">
                        <strong class="oneday_room"> 1박 가격 </strong> <strong
                           class="oneday_room2">-</strong> <strong id="totalAmount"
                           th:classappend="${product.product_count <= 0 ? 'gray-text' : ''}"
                           th:text="${product.product_amount}"></strong><strong
                           id="totalAmount_won">원 </strong>
                     </div>
                     <div>
                     <strong>최대 수용 인원 -  <span th:text="${product.product_pernum}"></span>명</strong>
                     
                     </div>
                     <!-- <button type="button" onclick="pop_room_detail()">" 객실
                        이용 안내"</button> -->
                     <!-- <button type="button"> 판매완료 </button> -->
                     <span id="hidden" hidden th:text="${product.product_id}"
                        th:value="${product.product_id}"></span>
                     <button type="button" id="button"
                        th:classappend="${product.product_count <= 0 ? 'gray-button' : 'btn_reserve'}"
                        th:id="${product.product_id}" onclick="handleClick(this)">
                        <strong>총</strong> <span name=""
                           th:value="${product.product_id}" id="reservePrice"
                           th:text="${product.totalPrice}"> <!-- onclick="handleClick(event)" -->
                           <p></p></span>원 예약하기
                     </button>
                  </div>
               </div>
            </div>
         </div>
         <!--  객실 끝  -->

         <div id="view2">
            <!-- 불러오기 성공 이제 수정들어가야 함 -->
            <pre class="pre_pre">
              <p th:utext="${@commonUtil.markdown(acc?.acc_info) ?: ''}"></p>
            </pre>

            <!--  map -->
            <div class="map" id="kakao_maps">

               <body>
                  <p class="mapbody"></p>
                  <span class="intro_load">찾아오시는 길</span>
                  <div id="map"></div>
                  <script th:src="@{/js/kty_map.js}"></script>
               </body>

               <!--  지도 -->


            </div>

         </div>
         <div id="view3">
            <body>

               <div class="sss">
                  <div th:text="${#authentication.name}" id="current_detail_user"></div>
                  <h2 id="title_revieww">리뷰 내역</h2>
                  <ul id="review_list">
                     <li class="ssss1" th:each="review : ${acc.reviews}">
                        <p class="rating-white">
                           <span
                              th:text="${review.author.contains('name') ? 'Social_네이버회원' : (review.author.length() > 16 ? 'Social_구글회원' : 
                     (review.author.length()>9 && review.author.length() < 13 ? 'Social_카카오회원' : review.author))}"
                              class="contain_author"></span>
                        <div sec:authorize="isAuthenticated()">

                           <button type="button" class="declaration"
                              data-target="modal_declaration"
                              th:id="'declaration_button_' + ${review.id}"
                              th:attr="data-accomid=${review.id}"
                              th:data-review-id="${review.id}"
                              th:data-should-hide="${#lists.contains(review.declarations.![repoter], #authentication.name)}">신고</button>
                        </div>
                        <div th:each="dec : ${review.declarations}"
                           class="dec_repoter_info">
                           <div th:text="${dec.repoter}"></div>
                        </div>
                        </p>
                        <p class="start_score">
                           <span th:if="${review.rating == 1}" class="star act_repeat">★
                              ✩ ✩ ✩ ✩</span> <span th:if="${review.rating == 2}"
                              class="start_repeat">★ ★ ✩ ✩ ✩</span> <span
                              th:if="${review.rating == 3}" class="start_repeat">★ ★
                              ★ ✩ ✩</span> <span th:if="${review.rating == 4}" class="start_repeat">★
                              ★ ★ ★ ✩</span> <span th:if="${review.rating == 5}"
                              class="start_repeat"> ★ ★ ★ ★ ★</span> <span
                              class="score_number" th:text="${review.rating}"> </span>
                        </p> <!-- 신고 누락적시 블라인드 처리된 내용 표시 -->
                        <p class="blind1">
                           <span th:text="${review.contentForDisplay}"></span>
                        </p>
                        <p>
                           <span class="time_real"
                              th:text="${#temporals.format(review.create_reivew_Time, 'yyyy. MM. dd.  HH:mm')}"></span>
                        </p> <br>
                     </li>
                  </ul>
               </div>
               <!--  모달 (신고) -->
               <div id="myModa" class="modal_declaration">
                  <div class="modal-content_declaration">
                     <span class="close">&times;</span>
                     <h3 class="user_dec">회원 신고</h3>
                     <div class="reason_decl">신고 사유</div>
                     <br>
                     <form id="declarationForm" data-review-id="${review.id}">
                        <select id="reason_dec" name="reason">
                           <option value="">선택하세요</option>
                           <option value="욕설">욕설</option>
                           <option value="도배">도배</option>
                           <option value="광고">광고</option>
                           <option value="욕설 및 비방">욕설 및 비방</option>
                           <option value="허위·과장">허위·과장</option>
                           <option value="기타">기타</option>
                        </select><br> <br>
                        <div class="decl_detail_con">상세 내용</div>
                        <br>
                        <textarea id="decl_detail" placeholder="상세 사유를 작성하세요"></textarea>
                        <br> <input type="submit" value="제출" id="declr_btn">
                     </form>
                  </div>
               </div>


               <!-- datepicker 적용 -->
               <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
               <script
                  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
               <script th:inline="javascript" src="/js/product_detail_kdg.js"></script>
            </body>


            </body>

            <!--  리뷰 끝 -->

         </div>
      </div>
   </div>
</div>


</body>
<script>
   var accAverPrice = $('.room_detail_fee2').text();

   var formattedAccAverPrice = Number(accAverPrice).toLocaleString();

   $('.room_detail_fee2').text(formattedAccAverPrice);
   
   
</script>
</html>