<!DOCTYPE html>
<html layout:decorate="~{jjj/header}">
<div layout:fragment="content" class="container my-3">

	<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/pyr_productNewMainReg.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.min.css">

<title>상품등록</title>
	</head>
	<body>
		<div id="addMainPdregistration">
			<h1>숙박업소 등록</h1>


			<form id="productForm">
				<div id="namdAddrSecFlex">
					<div id="nameAndAddr">
						<div class="acc_name_fild">
							<label for="acc_name">숙소 이름 : </label> <input type="text"
								id="acc_name" name="acc_name" th:value="${companyName}" readonly />
						</div>
						<div class="acc_addr_fild">
							<label for="acc_address">숙소 주소 :</label> <input type="text"
								id="acc_address" name="acc_address" th:value="${companyAdd}"
								readonly>
						</div>

						<div class="acc_max_peop_field">
							<label for="acc_max_people">최대 인원 :</label> <input type="number"
								id="acc_max_people" name="acc_max_people">
						</div>


					</div>

					<div id="sectors">
						<label for="acc_sectors">숙박 업종</label> <input type="text"
							id="partner_sectors" name="acc_sectors" th:value="${companySec}"
							readonly />
					</div>

				</div>

				<div id="main_img_area">
					<div id="imgFileArea">
						<div id="showImg">
							<img src='/img/acc_img/no_photo.png' alt="Main Image"
								width="100%" height="100%" class="main_img" id="mainImgView">
						</div>
						<div id="fileArea">
							<label id="roomPhotos">
								<h3>업소 사진</h3> <input type="file" name="acc_img"
								id="addMainPhoto">
							</label>
						</div>
					</div>

					<label id="mainPrCom">
						<hr>
						<h3>사장님 한마디</h3> <textarea type="text"
							placeholder="업소에 대한 간략한 설명을 등록해 주세요" minlength="10"
							maxlength="150" required name="acc_explain" id="acc_explain"></textarea>
					</label>
				</div>


				<div id="accInfoArea" style="display: none;">
					<h3>숙소 정보</h3>
					<textarea rows="" cols="" type="text" name="acc_info"
						placeholder="숙소에 대한 상세설명을 작성해 주세요. ex)공지사항, 기본정보, 취소 및 환불규정...">.</textarea>
				</div>


				<div id="addResetBtn">
					<button id="addButton">적용</button>
					<button type="button" id="CancelButton" onclick="cancelChanges()">취소</button>
				</div>
			</form>
		</div>


		<script src="/js/pyr_productNewMainReg.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.all.min.js"></script>
	</body>
</html>