<!DOCTYPE html>
<html>

<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/pyr_registerRoom.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.min.css">
<title>객실 리스트</title>
<style>
</style>
</head>

<body id="userinfo_modify">
<html layout:decorate="~{jjj/header}">
<div id="my_infomation_modify" layout:fragment="content"
	class="container my-3">



	<!-- 사이드 바 -->
	<nav id="mypage_sidebar_nav">
		<ul>
			<li class="mypage_sidebar"><a th:href="@{/user/mypage/me}">나의
					정보</a></li>
			<li class="mypage_sidebar"><a th:href="@{/user/mypage/test}">예약
					내역</a></li>
			<li class="mypage_sidebar"><a th:href="@{/user/mypage}">장바구니</a></li>
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/my_inquiry}"> 문의 내역</a></li>
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/partner_reg}">파트너 신청</a>
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/my_partner_reg}">파트너 신청 내역</a></li>
			</li>
			<li class="mypage_sidebar"><a
				th:href="@{/user/mypage/my_productList}" class="active"> 내 상품 목록</a></li>
		</ul>
	</nav>


	<div th:unless="${isEmpty}">

		<div id="Container">
			<div id="mainContent" class="main_content"
				th:each="accommodation : ${accommodation}">
				<div class="top">
					<div class="left">

						<img
							th:src="${accommodation.acc_img ?: '/img/acc_img/no_photo.png'}"
							alt="Main Image" width="100%" height="100%" class="main_img">
					</div>

					<div class="right">
						<div class="info">
							<div class="name_fild">
								<span style="display: none" th:text="${accommodation.id}"
									class="acc_id"></span> <span
									th:text="${accommodation.acc_sectors}"></span>
								<p th:text="${accommodation.acc_name}"></p>
							</div>

							<div class="score_cnt">
								<span th:text="${accommodation.acc_rating}"></span> 추천해요
							</div>

							<p th:text="${accommodation.acc_address}" class="address"></p>

						</div>
						<div class="partner_comment">
							<strong>사장님 한마디</strong>
							<div>
								<p
									th:if="${accommodation.acc_explain == null || accommodation.acc_explain == '' }">
									숙소에 대한 설명을 등록해 주세요</p>
								<p th:text="${accommodation.acc_explain}"></p>
							</div>
						</div>
					</div>
				</div>

				<div id="pdMainEditArea">
					<button id="deleateAccBtn" type="button" onclick="confirmDelete()">숙소삭제</button>

					<a th:href="@{|/product/productMainReg/${accommodation.id}|}">
						<button id="pdMainEditBtn" type="button">숙소수정</button>
					</a>
				</div>
			</div>


			<div class="productContent">

				<div id="prListEdit">
					<h2>객실 리스트</h2>
					<a th:href="@{|/product/addproduct/${accommodation.id}|}">
						<button id="prListEditBtn" type="button"
							onclick="location.href='/product/addproduct'">등록 / 수정 /
							삭제</button>
					</a>
				</div>

				<div id="productListContainer">

					<div id="productContainer" th:each="product : ${productList}"
						class="box">

						<div class="boxCintainer">

							<div class="itemexer">

								<div th:if="${not #lists.isEmpty(product.productImgs)}"
									class="slideshow-container">
									<!-- 해당 배열의 이미지를 보여줌 -->
									<div th:each="img : ${product.productImgs}"
										class="imgContainer">
										<div class="slide">
											<!-- 해당 이미지의 경로를 가져온다.   -->


											<img th:src="${img.img_url}" alt="Product Image" width="100%"
												height="100%" class="showImgs"><span
												th:text="${img.img_id}" style="display: none;"
												class="img_id"></span>
										</div>
										<div class="prev">&lt;</div>
										<div class="next">&gt;</div>
									</div>
								</div>
							</div>

							<div class="imgLists">
								<ul class="image-list">
									<li th:each="img : ${product.productImgs}">
										<div class="img_list_position">
											<img th:src="${img.img_url}" alt="Product Image"
												class="list_img" onclick="openModal()"> <span
												th:text="${img.img_id}" style="display: none;"></span>
										</div>
									</li>
								</ul>

								<div class="imageUploadContainer">
									<button class="addImagesButton">이미지 추가</button>
									<input type="file" name="images[]" multiple
										class="imageUploadInput">
								</div>

							</div>
						</div>



						<div class="Product_contents">

							<p style="display: none;">
								객실 번호 <span th:text="${product.product_id}" class="product_id"></span>
							</p>

							<div class="prName">
								<p>객실 이름</p>
								<span th:text="${product.product_type}" class="product_type"></span>
							</div>

							<div class="pdDetail">
								<p>상세 설명</p>
								<span th:text="${product.product_detail}" class="product_detail"></span>
							</div>

							<div class=pdAmount>
								<p>금액</p>
								<span th:text="${product.product_amount}" class="product_amount"></span>
							</div>

							<div class="pdCountArea">

								<p>
									객실수 <span th:text="${product.product_count}"
										class="product_count"></span>
								</p>
								<p>
									최대인원 <span th:text="${product.product_pernum}"
										class="product_pernum"></span>
								</p>
							</div>

							<div class="pdTimeArea">

								<p>
									체크인 <span th:text="${product.checkin}" class="checkin"></span>
								</p>
								<p>
									체크아웃 <span th:text="${product.checkout}" class="checkout"></span>

								</p>

							</div>
							<!-- 	<button class="addEditImg">이미지 추가</button> -->


						</div>
					</div>
				</div>


				<div th:if="${#lists.isEmpty(productList)}" id="noProduct">
					<h3>현재 등록된 상품이 없습니다.</h3>
				</div>

			</div>
		</div>

		<!-- 모달 -->
		<div id="myModal" class="modal">
			<span class="close" onclick="closeModal()">&times;</span> <img
				id="modalImg" class="modal-content">
		</div>

	</div>


	<!-- 만약 해당 데이터가 비어있으면 바로 등록하기로 이동  -->
	<div th:if="${isEmpty}">

		<script>
			if (confirm("상품을 등록하시겠습니까?")) {
				window.location.href = "/product/productNewMainReg";
			} else {
				history.back();
			}
		</script>

	</div>


	<script type="text/javascript">
		function openModal() {
			var modal = document.getElementById("myModal");
			var modalImg = document.getElementById("modalImg");

			// 모달 창에 이미지를 표시할 때 사용할 이미지 소스를 가져옴
			var imgSrc = event.target.src;

			// 모달 창 이미지 엘리먼트의 src 속성에 이미지 소스를 설정
			modalImg.src = imgSrc;

			// 모달 창을 표시
			modal.style.display = "block";
		}

		function closeModal() {
			var modal = document.getElementById("myModal");
			modal.style.display = "none";
		}
	</script>

	<script src="/js/pyr_registerRoom.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.all.min.js"></script>


	</body>
</html>