<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<script th:src="@{/js/kty_mypage.js}"></script>
</head>
<body class="adminbody">
<html layout:decorate="~{khk/adminNavbar}">
<div layout:fragment="adminNav" class="container my-3">
	<h1>회원 리스트</h1>
	<div class="container">

		<div>
			<div class="input-group">
				<input type="text" id="search_kw" class="form-control"
					placeholder="username으로 찾기" th:value="${kw}">
				<button class="btn btn-outline-secondary" type="button"
					id="btn_search">검색</button>
					
					
			</div>
			<!-- 객체 개수 출력 -->
			<div>
				<p>전체 회원 수 : [[${objectCount}]] 명</p>
			</div>
			<!-- 페이지 번호 및 전체 페이지 수 출력 -->
			<div>
				<p>[[${paging.number + 1}]] Page of [[${paging.totalPages}]]
					Page</p>
			</div>


			<div id="searchResults">
				<table>
					<thead>
						<tr>
							<th>회원 번호</th>
							<th>아이디</th>
							<th>이메일</th>
							<th>닉네임</th>
							<th>회원등급</th>
							<th>우편번호</th>
							<th>지번 주소</th>
							<th>상세 주소</th>
							<th>계정 상태</th>
							<th>계정 생성일</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="user : ${paging}" th:data-user-id="${user.id}"
							th:data-account-status="${user.islock}">
							<td th:text="${user.id}"></td>

							<td><a href="#" onclick="openModal(event, this)"> <span
									id="modal_username" th:text="${user.username}"
									th:data-username="${user.username}"></span>
							</a></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.nickname}"></td>
							<td>
								<p>
									<span th:text="${user.role}" th:class="'role-' + ${user.role}"></span>
								</p> <!-- HTML 코드 --> <!-- HTML 코드 -->

								<form th:action="@{'/admin/' + ${user.id} + '/adminRole'}"
									method="post" id="roleForm" onsubmit="return false;">
									<select name="role" onchange="this.nextElementSibling.click()">
										<option value="USER" th:selected="${user.role == 'USER'}">일반회원</option>
										<option value="PARTNER"
											th:selected="${user.role == 'PARTNER'}">파트너</option>
										<option value="ADMIN" th:selected="${user.role == 'ADMIN'}">관리자</option>
									</select> <input type="hidden" name="id" th:value="${user.id}" />
									<button type="submit" onclick="confirmChange(this.form)" class="select_btn_hk">변경</button>
								</form>

							</td>
							<td th:text="${user.addr1}"></td>
							<td th:text="${user.addr2}"></td>
							<td th:text="${user.addr3}"></td>
							<td
								th:class="${user.islock == 0 ? '' : 'account-status-disabled'}">
								<form th:action="@{'/admin/toggle-account'}" method="post"
									id="lockForm">
									<input type="hidden" name="username"
										th:value="${user.username}" /> <input type="hidden"
										name="currentStatus" th:value="${user.islock}" /> <input
										type="hidden" name="newStatus"
										th:value="${user.islock == 0 ? 1 : 0}" /> <input
										type="submit"
										th:value="${user.islock == 0 ? '  활동 중  ' : '계정 정지'}"
										onclick="toggleAccount(event, this); return false;"
										th:style="${user.islock == 0 ? '' : 'background-color: #dddddd96; color: #717171;
	border: solid 1px #717171;'}" />
								</form>
							</td>
							<td
								th:text="${#temporals.format(user.create_userTime,'yyyy-MM-dd')}"></td>
					</tbody>
				</table>


				<!-- 검색 결과가 없는 경우에 해당하는 메시지 -->
				<div th:if="${paging.empty}">
					<p>
						해당하는 회원이 없습니다. <a href="/admin/authorityPage">전체 목록으로 돌아가기</a>
					</p>
				</div>


			</div>

		</div>

		<!------------------------------------------------------------------------- 회원 상세정보 모달창 ----------------------------------------------------------- -->

		<div id="myModal" class="modal" style="display: none;">
			<div class="modal-content">
				<button class="close-modal" onclick="toggleModal()">&times;</button>
				<h3>회원상세 정보</h3>
				<div class="user_container">
					<div class="modal_hk">
						<div>
							<label for="userIdDisplay">회원 번호 : </label> <input type="text"
								id="userIdDisplay" disabled />
						</div>
						<div>
							<label for="userNameDisplay">아이디 : </label> <input type="text"
								id="userNameDisplay" disabled />
						</div>
						<table style="display: none;">
							<thead>
								<tr>
									<th>회원 번호</th>
									<th>아이디</th>
									<th>이메일</th>
									<th>닉네임</th>
									<th>우편번호</th>
									<th>지번 주소</th>
									<th>상세 주소</th>
									<th>계정 생성일</th>
								</tr>
							</thead>
							<tbody>
								<tr id="selectedUserRow">
									<td id="userId"></td>
									<td id="username"></td>
									<td id="email"></td>
									<td id="nickname"></td>
									<td id="zipcode"></td>
									<td id="address1"></td>
									<td id="address2"></td>
									<td id="createDate"></td>
								</tr>
							</tbody>
						</table>
						<form id="editForm" method="POST" action="/admin/userInfoUpdate">
							<input type="hidden" name="id" id="editUserId" />
							
							<div>
								<label for="editNickname">닉네임:</label> <input type="text"
									id="editNickname" name="nickname" />
							</div>
							<div>
								<label for="editZipcode">우편번호:</label> <input type="text"
									id="editZipcode" name="zipcode" />
							</div>
							<div>
								<label for="editAddress1">지번 주소:</label> <input type="text"
									id="editAddress1" name="address1" />
							</div>
							<div>
								<label for="editAddress2">상세 주소:</label> <input type="text"
									id="editAddress2" name="address2" />
							</div>

							<button type="submit">수정하기</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- 페이징처리 시작 -->
		<div th:if="${!paging.isEmpty()}">
			<ul class="pagination justify-content-center">
				<!-- 이전 페이지 버튼 -->
				<li class="page-item" th:unless="${paging.first}"><a
					class="page-link" href="javascript:void(0)"
					th:data-page="${paging.number-1}"> <span>이전</span>
				</a></li>
				<!-- 페이지 번호 -->
				<li th:each="page: ${#numbers.sequence(0, paging.totalPages - 1)}"
					th:classappend="${page == paging.number} ? 'active page-item' : 'page-item'"
					class="page-item"><a th:text="${page + 1}" class="page-link"
					th:href="@{|?page=${page}|}"></a></li>

				<!-- 다음 페이지 버튼 -->
				<li class="page-item" th:unless="${paging.last}"><a
					class="page-link" href="javascript:void(0)"
					th:data-page="${paging.number+1}"> <span>다음</span>
				</a></li>
			</ul>
			<form th:action="@{/admin/authorityPage}" method="get"
				id="searchForm">
				<input type="hidden" id="kw" name="kw" th:value="${kw}" /> <input
					type="hidden" id="page" name="page" th:value="${paging.number}" />
			</form>
		</div>
		<!-- 페이징처리 끝 -->

	</div>

	<script type="text/javascript">
	
	
	
	////////////////////////////// 폼 제출 이벤트 처리/////////////////////////////////////////////
		var editForm = document.getElementById("editForm");
		editForm.addEventListener("submit", function(event) {
			event.preventDefault();
			var formData = new FormData(editForm);
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/admin/userInfoUpdate", true); // 회원 정보를 업데이트하는 URL로 변경해야 합니다.
			xhr.onload = function() {
				if (xhr.status === 200) {
					// 회원 정보 수정 성공
					toggleModal();
					location.reload(); // 주석 처리: 페이지 새로 고침하지 않음
					searchUsers(); // 검색 결과 업데이트
				} else {
					// 회원 정보 수정 실패
					console.error("회원 정보 수정 실패: " + xhr.status); // 오류 출력
				}
			};
			xhr.onerror = function() {
				// 요청 실패
				console.error("요청 실패"); // 오류 출력
			};
			xhr.send(formData);
		});

		document
				.addEventListener(
						"DOMContentLoaded",
						function() {
							document
									.querySelectorAll("tr[data-user-name]")
									.forEach(
											function(row) {
												row
														.addEventListener(
																"click",
																function(event) {
																	event
																			.preventDefault();
																	event
																			.stopPropagation();

																	var userId = row
																			.getAttribute("data-user-name");

																	var modalContent = document
																			.getElementById("modal-content");
																	modalContent.textContent = "Username: "
																			+ userId;

																	// 회원 정보 로드 및 폼에 표시
																	var nicknameInput = document
																			.getElementById("nickname");
																	var userNickname = row
																			.querySelector("td:nth-child(4)").textContent;
																	nicknameInput.textContent = "Nickname: "
																			+ userNickname;

																	toggleModal();
																});
											});
						});

		const page_elements = document.getElementsByClassName("page-link");
		Array.from(page_elements).forEach(function(element) {
			element.addEventListener('click', function() {
				document.getElementById('page').value = this.dataset.page;
				document.getElementById('searchForm').submit();
			});
		});
		
		
		//검색기능
		const btn_search = document.getElementById("btn_search");
		btn_search.addEventListener('click', function() {
			document.getElementById('kw').value = document
					.getElementById('search_kw').value;
			document.getElementById('page').value = 0; // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
			document.getElementById('searchForm').submit();
		});


		// 폼 제출 이벤트 처리
	// 사용자 정의 컨펌 대화상자 함수
function confirmChange(form) {
  // 변경할 회원 등급 가져오기
  var selectedRole = form.querySelector("select[name='role']").value;

  // Swal 컨펌 대화상자 표시
  Swal.fire({
    title: "회원 등급 변경",
    text: "회원 등급을 변경하시겠습니까?",
    icon: "question",
    showCancelButton: true,
    confirmButtonText: "변경",
    cancelButtonText: "취소",
  }).then((result) => {
    if (result.isConfirmed) {
      // 사용자가 변경을 수락한 경우 폼 제출
      var xhr = new XMLHttpRequest();
      xhr.open("POST", form.action, true);
      xhr.setRequestHeader("Content-Type", 'application/x-www-form-urlencoded');
      xhr.onload = function () {
        if (xhr.status === 200) {
          // 회원 등급 변경 성공 시 Swal 알림창 표시
          Swal.fire({
            title: "회원 등급 변경",
            text: "회원 등급이 변경되었습니다.",
            icon: "success",
          }).then(() => {
            location.reload(); // 페이지 새로 고침
          });
        } else {
          // 회원 등급 변경 실패 시 Swal 알림창 표시
          Swal.fire({
            title: "회원 등급 변경",
            text: "회원 등급 변경에 실패했습니다.",
            icon: "error",
          });
        }
      };
      xhr.onerror = function () {
        // 요청 실패 시 Swal 알림창 표시
        Swal.fire({
          title: "서버 요청 실패",
          text: "서버와의 요청이 실패했습니다.",
          icon: "error",
        });
      };
      xhr.send(new URLSearchParams(new FormData(form)));
    } else {
      // 사용자가 변경을 취소한 경우 Swal 알림창 표시
      Swal.fire({
        title: "회원 등급 변경",
        text: "등급 변경을 취소하였습니다.",
        icon: "info",
      });
    }
  });
}




// 		function toggleAccount(event, button) {
// 			event.preventDefault(); // 기본 동작(페이지 새로고침) 방지
// 			event.stopPropagation(); // 이벤트 전파 중지

// 			var form = button.closest("form");
// 			var username = form.querySelector("input[name='username']").value; // 선택한 토글의 username 값 가져오기
// 			console.log(username);
// 			// 버튼 비활성화
// 			button.disabled = true;

// 			// 서버로 Ajax 요청 보내기
// 			var xhr = new XMLHttpRequest();
// 			xhr.open("POST", form.action, true); // POST 요청으로 수정
// 			xhr.setRequestHeader('Content-Type',
// 					'application/x-www-form-urlencoded');

// 			xhr.onload = function() {
// 				if (xhr.status === 200) {
// 					console.log(xhr.responseText);
// 					var response = JSON.parse(xhr.responseText);
// 					var newStatus = response.newStatus;

// 					// 변경된 상태를 실시간으로 업데이트하기 위해 페이지 일부를 새로 고침
// 					var url = form.getAttribute("action");
// 					var xhrUpdate = new XMLHttpRequest();
// 					xhrUpdate.open("POST", url, true);
// 					xhrUpdate.onload = function() {
// 						if (xhrUpdate.status === 200) {
// 							var parser = new DOMParser();
// 							var responseDoc = parser.parseFromString(
// 									xhrUpdate.responseText, "text/html");
// 							var newTable = responseDoc.querySelector("table");
// 							button.closest("table").parentNode.replaceChild(
// 									newTable, button.closest("table"));
// 						}

// 					};
// 					xhrUpdate.send();

// 					// 버튼 활성화 및 텍스트 변경
// 					if (newStatus === 0) {
// 						button.style.backgroundColor = ""; // 이전 색상으로 변경하거나 적절한 스타일 적용
// 					} else {
// 						button.style.backgroundColor = "darkgrey";
// 					}
// 					button.disabled = false;
// 					button.value = (newStatus === 0) ? "  활동 중  " : "활동 정지";
// 				} else {
// 					// 요청이 실패한 경우 버튼 활성화
// 					button.disabled = false;
// 				}
// 			};
// 			xhr.onerror = function() {
// 				// 요청이 실패한 경우 버튼 활성화
// 				button.disabled = false;
// 			};

// 			xhr.send(new URLSearchParams(new FormData(form)));
// 		}


function toggleAccount(event, button) {
    event.preventDefault(); // 기본 동작(페이지 새로고침) 방지
    event.stopPropagation(); // 이벤트 전파 중지

    var form = button.closest("form");
    var username = form.querySelector("input[name='username']").value; // 선택한 토글의 username 값 가져오기
    console.log(username);
    // 버튼 비활성화
    button.disabled = true;

    // SweetAlert 사용하여 문구 보여주기
    var newStatus = form.newStatus.value;
    var statusMessage = (newStatus === "0") ? "활동 중" : "계정 정지";
    var swalMessage = `회원 계정을 ${statusMessage}으로 변경 하시겠습니까? (7일)`;
    Swal.fire({
        title: swalMessage,
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "확인",
        cancelButtonText: "취소",
    }).then((result) => {
        if (result.isConfirmed) {
            // SweetAlert 확인 버튼을 누른 경우에만 서버로 Ajax 요청 보내기
            var requestData = new URLSearchParams(new FormData(form));
            var xhrUpdate = new XMLHttpRequest();
            xhrUpdate.open("POST", form.action, true);
            xhrUpdate.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhrUpdate.onload = function() {
                if (xhrUpdate.status === 200) {
                    // 요청이 성공한 경우 버튼 활성화 및 텍스트 변경
                    form.newStatus.value = (newStatus === "0") ? "1" : "0";
                    button.value = (newStatus === "0") ? "  활동 중  " : "계정 정지";
                    button.style.backgroundColor = (newStatus === "0") ? "" : "darkgrey";
					}
                // 버튼 활성화
                button.disabled = false;
            };
            xhrUpdate.onerror = function() {
                // 요청이 실패한 경우 버튼 활성화
                button.disabled = false;
            };
            xhrUpdate.send(requestData);
        } else {
            // SweetAlert 취소 버튼을 누른 경우, 버튼 활성화 및 텍스트 변경 취소
            button.disabled = false;
            // 취소 이전의 상태로 되돌리기
            form.newStatus.value = newStatus;
        }
    });
}



		////////////////////////////토글 모달 창///////////////////////////////////////////	

		function openModal(event, element) {
			event.preventDefault();

			var modal = document.getElementById("myModal");
			modal.style.display = "block";

			// 회원 정보 가져오기
			// 회원 번호, 아이디는 수정 불가 
			var userId = element.closest('tr').querySelector('td:nth-child(1)').textContent;
        document.getElementById('userIdDisplay').value = userId;
			 var username = element.closest('tr').querySelector('td:nth-child(2)').textContent;
        document.getElementById('userNameDisplay').value = username;
			
			var username = element.querySelector('#modal_username').textContent;
			var email = element.closest('tr').querySelector('td:nth-child(3)').textContent;
			var nickname = element.closest('tr').querySelector(
					'td:nth-child(4)').textContent;
			var zipcode = element.closest('tr')
					.querySelector('td:nth-child(6)').textContent;
			var address1 = element.closest('tr').querySelector(
					'td:nth-child(7)').textContent;
			var address2 = element.closest('tr').querySelector(
					'td:nth-child(8)').textContent;
			var createDate = element.closest('tr').querySelector(
					'td:nth-child(10)').textContent;

			// 모달 창 열기
			// 모달 창 내 요소에 값 채우기
			document.getElementById('userId').textContent = userId;
			document.getElementById('username').textContent = username;
			document.getElementById('email').textContent = email;
			document.getElementById('nickname').textContent = nickname;
			document.getElementById('zipcode').textContent = zipcode;
			document.getElementById('address1').textContent = address1;
			document.getElementById('address2').textContent = address2;
			document.getElementById('createDate').textContent = createDate;

			// 폼 필드에 값 채우기
			document.getElementById('editUserId').value = userId;
			document.getElementById('editNickname').value = nickname;
			document.getElementById('editZipcode').value = zipcode;
			document.getElementById('editAddress1').value = address1;
			document.getElementById('editAddress2').value = address2;

		}

		// 모달 토글 함수
		function toggleModal() {
			var modal = document.getElementById("myModal");
			if (modal.style.display === "block") {
				closeModal();
			} else {
				openModal();
			}
		}

		// 모달 닫기 함수
		function closeModal() {
			var modal = document.getElementById("myModal");
			modal.style.display = "none";

		}

		// 모달 닫기 버튼 클릭 이벤트 처리
		document.addEventListener("DOMContentLoaded", function() {
			var closeModalButton = document.querySelector(".close-modal");
			closeModalButton.addEventListener("click", function(event) {
				event.preventDefault();
				closeModal();
			});
		});
		
		
		 document.getElementById("search_kw").addEventListener("keyup", function (event) {
			    if (event.keyCode === 13) {
			      event.preventDefault(); // 기본 엔터키 동작 방지
			      document.getElementById("btn_search").click(); // 검색 버튼 클릭
			      document.getElementById("search_kw").focus();
			    }
			  });

			  document.getElementById("btn_search").addEventListener("click", function () {
			    button(); // 여기서 button()은 검색을 실행하는 함수입니다.
			  });

			
	</script>
	<script th:src="@{/js/kty_mypage.js}"></script>
	</body>
</html>