
#kty_left-side_test {
	float: left;
	width: 20%;
	margin-left:80px;
	height: 870px;
	display: flex;
	justify-content: center;
}

#kty_right-side_test {
	float: left;
	width: 62%;
	height: 820px;
	margin-top:20px;
	margin-left:100px;
	overflow: auto;
}

#region_dropdown_daegu {
	position: relative;
	width: 400px;
	margin-top: 100px;
	height: 50px;
	border: 1px solid rgb(221, 221, 221);
	padding-left: 10px;
	margin-left: 20px;
	background-color: rgb(240, 240, 240);
	font-weight: bold;
	margin-bottom: 30px;
}

#checkin_dropdown_daegu2 {
	width: 190px;
	margin-top: 10px;
	height: 50px;
	border: 1px solid rgb(221, 221, 221);
	margin-left: 18px;
	padding-left: 10px;
	background-color: rgb(240, 240, 240);
	font-weight: bold;
}

#checkout_dropdown_daegu3 {
	width: 180px;
	margin-top: 10px;
	height: 50px;
	border: 1px solid rgb(221, 221, 221);
	padding-left: 10px;
	background-color: rgb(240, 240, 240);
	font-weight: bold;
}

.form-control2 {
	position: relative;
	left: 22px;
	top: 60px;
	width: 300px;
	height: 30px;
	border-radius: 10px;
}

#checkin_title {
	position: relative;
	top: 45px;
	right: 400px;
}

#checout_title {
	position: absolute;
	left: 310px;
	bottom: 640px;
}

#btn_search_home {
	position:relative;
	
	left: 33px;
	top:61px;
	background-color:rgb(255, 128, 128);
	color: rgb(244, 245, 244);
	border-radius: 10px;
	border: 1px solid white;
	height: 35px;
	width: 80px;
}

#btn_search_home:hover {
	cursor: pointer;
}

.search_deagu_home{
	width: 80%;
	
}
#check_regin_title {
position: relative;
top:88px;
left:23px;
}
.centered-title {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.room_type_title {
	padding-bottom: 10px;
	position: relative;
	right: -20px;
	top: 10px;
}

#roomtype_dropdown_daegu {
	position: relative;
	width: 400px;
	margin-top: 20px;
	height: 50px;
	border: 1px solid rgb(221, 221, 221);
	padding-left: 10px;
	margin-left: 20px;
	background-color: rgb(240, 240, 240);
	font-weight: bold;
	margin-bottom: 30px;
}

#kw3Option1 {
	margin-top: 16px;
}

.spacing {
	margin-left: 1px;
}

#room_clo {
	border: 1px solid rgb(221, 221, 221);
	height: 40px;
	width: 388px;
	border: 1px solid rgb(221, 221, 221);
	padding-left: 10px;
	background-color: rgb(240, 240, 240);
	margin-bottom: 10px;
	padding-top: 10px;
}

.reviews_score {
	padding: 1px;
	position: relative;
	right: -20px;
	top: -5px;
}

.avable_people {
	padding: 1px;
	position: relative;
	right: -20px;
	top: -5px;
}

#star_score {
	border: 1px solid rgb(221, 221, 221);
	width: 392px;
	margin-top: 10px;
	background-color: rgb(240, 240, 240);
}

#spacing2 {
	margin-top: 5px;
}

#star_score label {
	color: orange;
}


#people_dropdown{
	position: relative;
	width: 400px;
	margin-top: 10px;
	height: 50px;
	border: 1px solid rgb(221, 221, 221);
	padding-left: 10px;
	margin-left: -5px;
	background-color: rgb(240, 240, 240);
	font-weight: bold;
	margin-bottom: -10px;
}
.room_money_title{
margin-top:-10px; 
position: relative;
left:18px;

}


.min{
	margin-top:10px;
	border: 1px solid rgb(221, 221, 221);
	padding-left: 10px;
	margin-left: 0px;
	width:170px;
	background-color: rgb(240, 240, 240);
	height: 30px;
	margin-right: 10px;
}

.max{
	margin-top:10px;
	border: 1px solid rgb(221, 221, 221);
	padding-left: 10px;
	margin-left: 10px;
	width:160px;
	background-color: rgb(240, 240, 240);
	height: 30px;
	
	
}

#searchBtn2 {
	background-color: #77af9c;
	color: rgb(244, 245, 244);
	height: 40px;
	/* 버튼 디자인 */
	border: none;
	display: inline-block;
	border-radius: 15px;
	font-weight: 600;
	margin-left: 35px;
	width: 360px;
	margin-top:20px;
}
#searchBtn2:hover{
	cursor:pointer;
}

#btnbtn{
	background-color:rgb(255, 128, 128);
	color: rgb(244, 245, 244);
	height: 50px;
	/* 버튼 디자인 */
	border: none;
	display: inline-block;
	border-radius: 15px;
	font-weight: 600;
	margin-left: 40px;
	width: 350px;
	margin-top:20px;
}

#btnbtn:hover{
cursor: pointer;
	
}


#checkintitle{
	
	margin-left:25px;
}
#checkouttitle{
	margin-left:120px;
	}
	

	
	.acc_img {
		border-bottom: 1px solid grey;
		height:50%;
	background-repeat: no-repeat;
	background-size: cover; /* 전체를 보이면서 요소에 꽉 차게 설정 */
}

.acc_content{
margin-top:20px;	
margin-left:50px;
margin-right:30px;
margin-bottom:20px;
	
}

.room-entry2{
	border:1px solid grey; 
	margin-left:300px; 
	margin-top:50px; 
	height: 600px; 
	width:450px;
	border:1px solid grey;
	border-radius: 5px;
	
}
.right-align{
	text-align: right;
}