* {
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

#productListContainer{
	width: 900px;
}


#title {
	padding: 0 0 12px 50px;
	
}

#modifyRoomContent {
	margin-top: 100px;
}

/* 유효성 검사 조건 불충족 시 에러 메세지  */
.error-message {
	font-size: 12px;
}

/* 상품 수정 유효성 검사 에러 메세지  */
.error {
	font-size: 11px;
	padding: 0 0 0 80px;
	margin-top: 3px;
}

#edit_count_error {
	font-size: 11px;
	padding: 0 0 0 60px;
	margin-top: 3px;
}

#edit_pernum_error {
	font-size: 11px;
	padding: 0 0 0 60px;
	margin-top: 3px;
}

/* ========== 상품 등록 ========== */
#Product-registration {
	width: 880px;
	height: auto;
	border-bottom: 2px rgb(175, 173, 180) solid;
	margin-bottom: 25px;
	padding: 20px;
}

#Product-registration h1 {
	font-size: 35px;
	color: #263343;
	margin-bottom: 20px;
	margin-left: 14px;
}

#productForm label {
	display: block;
	font-size: 15px;
	margin-top: 10px;
}

#Product-registration input {
	margin-top: 8px;
}

/* 입력 필드 스타일 */
#Product-registration input[type="text"], #Product-registration input[type="number"],
	#Product-registration input[type="time"], #Product-registration input[type="file"],
	#Product-registration select {
	width: 100%;
	padding: 10px;
	margin-bottom: 3px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

/* 방 등록, 금액 */
#roomAndAmount {
	display: flex;
	justify-content: space-around;
}

#roomAndAmount label {
	width: 45%;
}

/* 상세 설명 */
#pr-detail {
	width: 95%;
	margin: 0 auto;
}

/* 방 갯수, 최대 수용인원 */
#countArea {
	display: flex;
	justify-content: space-around;
}

#countArea label {
	width: 45%;
}

/* 업소등록 시간  */
#timeArea {
	display: flex;
	justify-content: space-around;
}

#timeArea label {
	width: 45%;
}

/* 파일 선택  */
#roomPhotos {
	display: inline-block;
	font-size: 16px;
	width: 95%;
	margin: 0 auto;
	padding-bottom: 10px;
	cursor: pointer;
}

/* #addPhoto:hover {
                background-color: #c9c8c8;
            } */
#fileArea #addPhoto {
	font-size: 15px;
}

#fileArea input[type=file]::file-selector-button {
	width: 150px;
	height: 30px;
	background: #fff;
	border: 1px solid rgb(199, 198, 198);
	border-radius: 2px;
	cursor: pointer;
}

/* 버튼 스타일 */
#Product-registration button {
	padding: 10px 20px;
	background-color: #d49466;
	color: #fff;
	font-size: 18px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#Product-registration button[type="reset"] {
	background-color: #ccc;
}

#Product-registration button:hover {
	background-color: #f0a441;
}

#addResetBtn {
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;
	height: 50px;
}

#addResetBtn button {
	width: 45%;
}

/* ============= 상품 리스트 ============= */
.box {
	width: 800px;
	height: 400px;
	margin-bottom: 20px;
	border: 1px rgb(149, 148, 153) solid;
	box-sizing: border-box;
	display: flex;
	border-radius: 8px;
}

#prListEdit {
	width: 790px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

#prListEdit #prListEditBtn {
	width: 300px;
	height: 40px;
	margin-top: 10px;
	background-color: #263343;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	border: none;
}

#prListEdit #prListEditBtn:hover {
	background-color: rgb(155, 155, 155);
}

/* 상품리스트 h2 */
#prListEdit h2 {
	font-size: 30px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-bottom: 20px;
}

/* ==== 글자 왼쪽 여백 조정 및 해당 영역의 글자 크기 조정==== */
.Product_contents .prName .product_type, .Product_contents .prName .edit_type,
	.Product_contents .pdDetail .product_detail, .Product_contents .pdDetail .edit_detail,
	.Product_contents .pdAmount .product_amount, .Product_contents .pdAmount .edit_amount,
	.Product_contents .pdCountArea .product_count, .Product_contents .pdCountArea .edit_count,
	.Product_contents .pdCountArea .product_pernum, .Product_contents .pdCountArea .edit_pernum,
	.Product_contents .pdTimeArea .checkin, .Product_contents .pdTimeArea .edit_checkin,
	.Product_contents .pdTimeArea .checkout, .Product_contents .pdTimeArea .edit_checkout
	{
	padding: 2px 0 0 7px;
	font-size: 13px;
}

/* ============== 이미지 부분 시작 ================== */
.boxCintainer {
	flex-direction: column;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	border-top-left-radius: 8px;
	border-right: 1px rgb(149, 148, 153) solid;
}

.itemexer {
	height: 50%;
	box-sizing: border-box;
}

.imgLists {
	height: 50%;
	box-sizing: border-box;
}

.slideshow-container {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin-right: 10px;
	margin: 0 auto;
	overflow: hidden;
	border-top-left-radius: 8px;
}

/* 배열에 저장된 이미지 슬라이드 위해서 바로 보여지는 이미지 숨김 */
.showImgs img {
	display: none;
}

.list_img {
	width: 50px;
	height: 50px;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: opacity 0.4s ease-in-out;
	border: 2px rgb(46, 75, 1) solid;
}

.prev, .next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}

/* display: flex하기 위한 영역 */
.imgLists .image-list {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-around; */
	/* justify-content: flex-start; */
}

.imgLists {
	border-bottom-left-radius: 8px;
	position: relative;
}

.image-list {
	padding: 0;
	margin: 5px;
	border-bottom-left-radius: 8px;
	display: inline-block;
	position: relative;
}

/* 해당 이미지 리스트에 있는 이미지 영역 */
.imgLists .image-list li {
	list-style-type: none;
	position: relative;
	width: 95px;
	height: 85px;
	padding: 0;
	margin: 5px 15px;
	justify-content: flex-start;
}

.list_img {
	width: 95px;
	height: 80px;
	margin-left: 5px;
	border-radius: 4px;
}

/* 이미지가 담겨져 있는 크기를 조정 */
.img_list_position {
	width: 100px;
	height: 90px;
	padding: 0 10px 10px 0;
	border-radius: 4px;
}

.imgLists_deleteButton_position {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.imgLists_deleteButton {
	font-size: 20px;
	color: #080808;
	background-color: rgb(206, 206, 206);
	border: none;
	cursor: pointer;
	outline: none;
	padding: 4px;
	margin-top: 3px
}

/* 상품리스트 이미지 추가 관련  */
.imageUploadContainer {
	position: absolute;
	transition: background-color 0.3s ease;
	bottom: 0;
	right: 0;
}

.addImagesButton {
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 13px;
	padding: 10px 10px;
	border-radius: 4px;
	background-color: #ccc;
	color: #fff;
	width: 95px;
	height: 85px;
	margin: 20px 27px 15px 15px;
}

.addImagesButton:hover {
	background-color: #8f928f;
}

/* 이미지 추가에서 파일 선택 숨김 */
.imageUploadInput {
	display: none;
}

/* =========== 이미지 옆 내용 ============ */

/* 내용들이 담겨야 하는부분 */
.Product_contents {
	/* border: 1px rgb(163, 165, 168) solid; */
	width: 50%;
	padding: 10px;
	/* 안에 내용 정렬 */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Product_contents p {
	display: flex;
	align-items: center;
	font-size: 15px;
	/* margin-bottom: 20px; */
	margin-bottom: 5px;
}

.Product_contents span {
	font-weight: bold;
	border: #c9c9c9 1px solid;
	border-radius: 6px;
	height: 120%;
	display: inline-block;
	width: 120px;
	margin-left: 8px;
}

.Product_contents p input {
	font-weight: bold;
	border: #cfba9d 1px solid;
	border-radius: 6px;
	height: 120%;
	display: inline-block;
	width: 120px;
	margin-left: 8px;
}

/* 객실 이름 */
.prName {
	display: flex;
	/* margin-bottom: 8px; */
}

.Product_contents .product_type {
	width: 300px;
	height: 25px;
}

.Product_contents .edit_type {
	width: 300px;
	height: 25px;
	font-weight: bold;
	border: #cfba9d 1px solid;
	border-radius: 6px;
	display: inline-block;
	margin-left: 10px;
}

/* 상세 설명 */
.pdDetail {
	display: flex;
	margin-top: 20px;
}

.pdDetail p {
	height: 20px;
}

.Product_contents .product_detail {
	width: 300px;
	height: 60px;
}

.Product_contents .edit_detail {
	width: 300px;
	height: 60px;
	font-weight: bold;
	border: #cfba9d 1px solid;
	border-radius: 6px;
	display: inline-block;
	margin-left: 10px;
}

/* 금액 */
.pdAmount {
	display: flex;
	/* margin-bottom: 8px */
	margin-top: 20px;
}

.pdAmount p {
	height: 20px;
	padding-left: 3px;
}

.Product_contents .product_amount {
	width: 300px;
	height: 25px;
	margin-left: 35px;
}

.Product_contents .edit_amount {
	width: 300px;
	height: 25px;
	margin-left: 35px;
	font-weight: bold;
	border: #cfba9d 1px solid;
	border-radius: 6px;
	display: inline-block;
}

/* 객실 수 , 최대 인원 수  */
.pdCountArea {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 4px;
}

.edit_count {
	margin-right: 8px;
}

/* 상품리트스 시간 */
.pdTimeArea {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 4px;
}

.edit_checkin {
	margin-right: 8px;
}

/* 버튼 div */
.btnArea {
	display: flex;
	justify-content: space-around;
	margin-top: 9px;
	width: 380px;
}

.Product_contents .resetProduct {
	padding: 10px 20px;
	margin-top: 10px;
	background-color: #f11d1dd3;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 150px;
}

.Product_contents .resetProduct:hover {
	background-color: #ff4747d3;
	transition: opacity 0.4s ease-in-out;
}

.Product_contents .cancelProduct {
	padding: 10px 20px;
	margin-top: 10px;
	background-color: #c3b3b3d3;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 150px;
}

.Product_contents .cancelProduct:hover {
	background-color: #958888d3;
	transition: opacity 0.4s ease-in-out;
}

.Product_contents .editOkProduct {
	padding: 10px 20px;
	margin-top: 10px;
	background-color: #e40000d3;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 336px;
}

.Product_contents .editOkProduct:hover {
	background-color: #e400008e;
	transition: opacity 0.4s ease-in-out;
}

.Product_contents button:not(:last-child) {
	margin-right: 10px;
}