#addMainPdregistration {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

#productForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#namdAddrSecFlex {
	display: flex;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 600px;
}

#namdAddrSecFlex #nameAndAddr {
	width: 54%;
}

#acc_name {
	width: 200px;
}

.acc_addr_fild {
	margin-top: 15px;
}

#acc_address {
	width: 200px;
}

.acc_max_peop_field {
	margin-top: 15px;
}

#acc_max_people {
	width: 200px;
}

#mainPrCom hr {
	color: 1px rgb(211, 208, 208) solid;
}

#mainPrCom h3 {
	margin-bottom: 0px;
}

#main_img_area {
	width: 600px;
	height: 400px;
	display: inline-block;
}

#mainPrCom textarea {
	margin-top: 10px;
	width: 594px;
	height: 105px;
	resize: vertical;
	font-size: 15px;
	border: 2px solid #b6b3b3;
	border-radius: 8px;
}

#accInfoArea h3 {
	margin-bottom: 0px;
}

#accInfoArea textarea {
	margin-top: 10px;
	width: 594px;
	height: 150px;
	resize: vertical;
	font-size: 15px;
	border: 2px solid #b6b3b3;
	border-radius: 8px;
}

#imgFileArea {
	display: flex;
	margin-bottom: 10px;
}

#showImg {
	width: 50%;
	height: 200px;
}

#mainImgView {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

#fileArea {
	margin-bottom: 20px;
	width: 50%;
	margin-top: 92px;
}

#fileArea #roomPhotos h3 {
	margin-left: 20px;
}

#roomPhotos input[type="file"] {
	margin-left: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f2f2f2;
	font-size: 14px;
	cursor: pointer;
}

#roomPhotos label {
	display: inline-block;
	padding: 10px 20px;
	background-color: #f1f1f1;
	color: #333;
	cursor: pointer;
}

#roomPhotos label:hover {
	background-color: #ddd;
}

#addResetBtn {
	display: flex;
	justify-content: center;
}

#acc_explain {
	margin-bottom: 20px;
}

#addResetBtn #addButton {
	font-size: 15px;
	padding: 10px 35px;
	margin: 0 10px;
	background-color: #e40000d3;
	transition: opacity 0.4s ease-in-out;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 8px;
}

#addResetBtn {
	margin-top: 15px;
}

#addResetBtn #addButton:hover {
	background-color: #e400008e;
	transition: opacity 0.4s ease-in-out;
}

#addResetBtn #CancelButton {
	font-size: 15px;
	padding: 10px 35px;
	margin: 0 10px;
	background-color: #c3b3b3d3;
	transition: opacity 0.4s ease-in-out;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	margin: 0 10px;
}

#addResetBtn #CancelButton:hover {
	background-color: #958888d3;;
	transition: opacity 0.4s ease-in-out;
}

#partner_sectors {
	margin-top: 8px;
	padding-left: 3px; 
	font-size : 16px;
	font-weight: bold;
	font-size: 16px;
}