.weather-container {
   position: relative;
   display: flex;
   list-style: none;
   align-items: center;
   justify-content: center;
   padding-left: 0;
   top: 0px;
}

.weather-icon {
   width: 50px;
   height: 50px;
}

.weather-temp {
   font-size: 12px;
   font-weight: bold;
   position: relative;
   cursor: pointer;
   text-decoration: none;
   color: var(--main-color);
}

.weather-temp::before {
   content: "";
   position: absolute;
   top: -5px;
   left: -25px;
   width: 20px;
   height: 20px;
   background: url("https://example.com/your-icon.png") no-repeat center center;
}

.weather-details {
    position: absolute;
    top: calc(100% + 10px); /* 기존의 top: 100%;에서 상단 여백을 추가 */
    left: 0; /* 가운데 정렬을 위해 50%로 설정 */
    transform: translateX(-50%); /* 가운데 정렬을 위해 이동 */
    background-color: #fff;
    padding: 10px;
    display: none;
    z-index: 9999;
    color:black;
    width: 220px;
    text-align: center; /* 내용 가운데 정렬을 위해 추가 */
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    font-size:12px;
}

.weather-forecast-btn {
   display: block;
   padding: 5px 10px;
   background-color: #2893d7;
   text-align: center;
   text-decoration: none;
   font-weight: bold;
   border-radius: 10px;
   margin-top: 10px;

}

@media screen and (max-width: 768px) {

.weather-container {
   display: none;
}
}