<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<link rel="stylesheet" href="/css/admin_notice.css">
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>


	<script>
		$(document).ready(function() {
    $(".notice-content, .notice_btn").hide(); // 페이지 로드 시 모든 notice-content와 notice_btn을 숨깁니다.

    $(".notice-item").click(function() {
        // 현재 클릭된 notice-item 내의 notice-content와 notice_btn을 토글합니다.
        $(this).find(".notice-content, .notice_btn").toggle();
    });

			// 알림창이 나타나도록 이벤트 추가
			$(document).ready(function () {
				$('.del_btn').click(function (e) {
					e.preventDefault();
					var id = $(this).data('id');

					Swal.fire({
						title: '공지사항',
						text: "공지사항을 삭제하시겠습니까?",
						icon: 'question',
						showCancelButton: true,
						confirmButtonText: '예',
						cancelButtonText: '아니요'
					}).then((result) => {
						if (result.isConfirmed) {
							Swal.fire({
								title: '공지사항',
								text: '공지사항이 삭제되었습니다.',
								icon: 'success'
							}).then(() => {
								window.location.href = '/admin/delete/' + id;
							});
						} else if (result.dismiss === Swal.DismissReason.cancel) {
							// If the user clicks "아니요" (No) button
							Swal.fire({
								title: '공지사항',
								text: '삭제가 취소되었습니다.',
								icon: 'info'
							});
						}
					});
				});
			});
		});
	</script>



</head>

<body>
	<html layout:decorate="~{khk/adminNavbar}">
	<div layout:fragment="adminNav" class="container my-3">
		<div class="content-container">
			<h1>공지사항</h1>

			<button onclick="window.location.href='/admin/createNotice'" class="btn_createNotice">글쓰기</button>
			<div class="notice_hk">
				<div th:each="notice : ${page}" class="notice-item">
					<h3 id="title" th:text="${notice.title}"></h3>
					<p class="date" th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd HH:mm')}"></p>
					<div class="notice-content">
						<p th:utext="${notice.content}"></p>
					</div>
						<div class="notice_btn">
							<a class="modi_btn" th:href="@{/admin/modify/{id}(id=${notice.id})}">수정</a>
							<a class="del_btn" href="#" th:data-id="${notice.id}">삭제</a>
						</div>


				</div>

				<div class="pagination" th:if="${page.totalElements > 0}">
					<ul>
						<li class="page-item" th:if="${page.number > 0}"><a class="page-link" href="#"
								th:href="@{/admin/adminNoticeList(page=${page.number - 1})}">이전</a>
						</li>
						<li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
							th:class="${i == page.number} ? 'active page-item' : 'page-item'">
							<a class="page-link" href="#" th:href="@{/admin/adminNoticeList(page=${i})}"
								th:text="${i + 1}"></a>
						</li>
						<li class="page-item" th:if="${page.number < page.totalPages - 1}">
							<a class="page-link" href="#"
								th:href="@{/admin/adminNoticeList(page=${page.number + 1})}">다음</a>
						</li>
					</ul>
				</div>
				<!-- 		<a href="/admin/createNotice">공지사항 등록</a> -->
			</div>
		</div>





</body>

</html>