<!DOCTYPE html>
<html>

<head>
	<title>DAEBAK</title>
	<link rel="stylesheet" href="/css/inquiryModify.css">
</head>

<body>
	<html layout:decorate="~{jjj/header}">
	<div id="my_infomation_modify" layout:fragment="content" class="container my-3">
		<div id="container">

			<div id="new-inquiry-form">
				<h4>경상도숙박장사 이용 중 불편하신 점을 문의주시면 최대한 빠른 시간에 답변 드리겠습니다.</h4>
				<form th:action="@{/inquiry/modify/{id}(id=${inquiry.id})}" th:object="${inquiry}" method="post">
					<input type="hidden" th:field="*{id}" name="id">

					<label for="category">숙박 카테고리</label>
					<select id="category" th:field="*{category}" required>
						<option value="">숙박 유형을 선택해주세요.</option>
						<option value="모텔">모텔</option>
						<option value="호텔">호텔</option>
						<option value="캠핑">캠핑</option>
						<option value="펜션">펜션</option>
						<option value="해외">해외</option>
					</select>

					<label for="type">문의 유형</label>
					<select id="type" th:field="*{type}" required>
						<option value="">문의 유형을 선택해주세요.</option>
						<option value="예약/결제">예약/결제</option>
						<option value="취소/환불">취소/환불</option>
						<option value="시설 문의">시설 문의</option>
						<option value="기타">기타</option>
					</select>

					<label for="inquiry-title">제목</label>
					<input type="text" id="inquiry-title-input" th:field="*{title}" required>

					<label for="message">문의 내용</label>
					<textarea id="message" th:field="*{message}" required></textarea>

					<input type="submit" value="문의 수정">
				</form>
			</div>

		</div>

		<script src="/js/inquiry_syw.js"></script>

</body>

</html>