body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 90%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: 0;
}

*, ::after, ::before {
    box-sizing: 0;
}

.admin_navbar a.active {
    font-weight: 700;
    border-left: solid 3px #ededed;
    color: #ededed;
    width: 100% !important;
    background: #ffffff0f;
}


h1 {
    text-align: left;
    margin: 0;
    font-size: 17px;
    left: 150px;
    position: fixed;
    background: #fbfbfbb5;
    color: #232323;
    width: 100vw;
    top: 0;
    padding: 15px 0 15px 66px;
    box-shadow: 0px 1px 2px 1px #bbbbbb;
    z-index: 2;
    FONT-WEIGHT: 100;
    /* height: 50px; */
    align-items: center;
    display: flow;
}


.container {
    margin: 10px auto;
    width: 90%;
    height: 100%;
    padding-left: 100px;
    padding-top: -11px;
}

.container-dash{
	top: 80px;
	position: relative;
}

.dashboard_kkk{
	left: 37px;
	/* top: -48px; */
	position: relative;
	bottom: 36px;
}

#user_count_kty{
   margin-left:290px;
   position: absolute;
   top:110px;
   font-size:20px;
   font-weight: bold;
}
#book_count_kty4{
   margin-left:270px;
   position: absolute;
   font-size:20px;
   top:500px;
   font-weight: bold;
}
#dashboard_title{
   margin-left:50px;
   
}
#book_count_kty5{
   margin-left:1100px;
   position: absolute;
   font-size:20px;
   top:505px;
   font-weight: bold;
}
#user_count_kty2{
   margin-left:1100px;
   position: absolute;
   top:110px;
   font-size:20px;
   font-weight: bold;
}
#admin_dashboard_main{
   /* margin-left:-1350px; */
   font-weight: bold;
   text-align: left;
}





.roles_count_kty{
      /* border:1px solid grey; */
   width:25%;
   padding : 20px;
   margin-left:90px;
   margin-top:80px;
   background-color: white;
   border-radius: 15px;
}

#roleChart{
   
}

.roles_count_kty2{
   /* border:1px solid grey; */
   background-color: white;
   border-radius: 15px;
   width:60%;
   height:300px;
   margin-left:650px;
   margin-top: -340px;
   
}
#sectorChart{   
   
}

.roles_count_kty3{
   text-align: center;
   padding:30px;
    border:1px solid rgb(229, 229, 229); 
   background-color:white;
   border-radius: 15px;
   width:25%;
   height: 350px;
   padding : 20px;
   margin-left:90px;
   margin-top:50px;
}


#today_booking_kty{
   margin-top:20px;
   font-size:20px;
   font-weight: bold;
}

#today_total_kty{
   margin-top:10px;
   font-size:20px;
   font-weight: bold;
   margin-bottom:30px;
}

#today_total_kty1{
   margin-top:20px;
   font-size:20px;
   font-weight: bold;
   margin-bottom:30px;
}
#todayBookingCount{
   
   margin-left:10px;
}
#todayTotalmoney{

   margin-left:5px;
}

#notice_cal{
   color:red;
   margin-right: 10px;
}
#start_cal{
   color:red;
   margin-top:15px;
   margin-left: 5px;
   margin-right: 15px;
}
#no_start_cal{
   color:black;
}

#today_booking_kty33{
   font-size:20px;
   font-weight: bold;
}

#sum_book{
   margin-top:50px;   
}

#today_booking_kty44{
   margin-top:15px;
   font-size:20px;
   font-weight: bold;
}

#today_booking_kty33{
   margin-top:10px;
}

.test{
   width:60%;
   margin-left:650px;
   margin-top:-385px;
   height: 380px;
   background-color: white;
   border-radius: 15px;
}
#total_booking_count_kty1{
   margin-top:25px;
}

#total_booking_count_kty2{
   margin-top:20px;
}

#total_booking_count_kty3{
   margin-top:20px;
}
#total_booking_count_kty4{
   margin-top:20px;
}

.card{
   width: 500px;
   margin-top: 27px;
}
#card2{
   height: 298px;
   background-color: white;
}

#card3{
   width: 500px; 
   margin-top:20px
}

.head_card_title{
   color: #4e73df;
}

#card4{
   height: 370px;
    background-color: white;
}
#card5{
   width: 650px;
   /* margin-top:20px; */
   position: absolute;
   right: 0;
   top: -29px;
}

#card-body_kty{
   height: 300px;
   background-color: white;
}

#card6{
   width: 650px;
   margin-top:20px;
   position: absolute;
   right: 0px;
   top: 352px;
   /* height: 300px; */
}
#card-body_kty2{
   height: 330px;
   background-color: white;
}
#card_head_title1,
#card_head_title2,
#card_head_title3,
#card_head_title4{
   color: #4e73df;
}