@charset "UTF-8";


:root {
	--main-color: #e93c3c;
	--background-color: #ffffff;
	--hover-color: #ffa6a6;
	--text-color: rgb(109, 109, 109);
}

.container {
    margin: 10px auto;
    width: 90%;
    height: 100%;
    padding-left: 100px;
    padding-top: 40px !important;
}


h1 {
    text-align: left;
    margin: 0;
    font-size: 17px;
    left: 150px;
    position: fixed;
    background: #fbfbfbb5;
    color: #232323;
    width: 100vw;
    top: 0;
    padding: 15px 0 15px 66px;
    box-shadow: 0px 1px 2px 1px #bbbbbb;
    z-index: 2;
    FONT-WEIGHT: 100;
    /* height: 50px; */
    align-items: center;
    display: flow;
}
h3 {
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 10px;
	margin-inline-end: 0px;
	font-weight: bold;
}


table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	color: #333;
}

form {
	display: inline-block;
}

.notice_hk {
	top: 30px;
	position: relative;

}

.notice_btn {
	display: flex;
	justify-content: flex-end;
}

/*  버튼 스타일 */
.modi_btn {
	background-color: #fff0;
	color: #717171;
	border: solid 1px #717171;
	margin-right: 5px;
}

.del_btn {
	background-color: #fff0;
    color: #a34a4a;
    border: solid 1px #a34a4a;
}

.del_btn:hover {
	background-color: rgb(243 176 176 / 59%);
}
.modi_btn:hover {
	background-color: rgb(198 198 198 / 59%);
}

.notice_hk .notice-item .notice-content .button {
	display: flex;
	/* 버튼을 블록 레벨 요소로 만들어 수직 배치합니다. */
	margin-top: 10px;
	/* 버튼 사이에 간격을 추가합니다. */
}

.btn_createNotice {

	float: right;
	bottom: 10px;
	position: relative;
	
}

input[type="submit"] {
	background-color: rgb(255, 128, 128);
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	float: right;
	width: 80px;
	height: 35px;
}

input[type="submit"]:hover {
	background-color: rgb(255, 128, 128);
}

.input-group {
	right: 100px;
	position: absolute;
}

#btn_search {
	background-color: rgb(255, 128, 128);
	color: #fff;
	border-style: none;
}

span.role-USER {
	color: black;
}

span.role-PARTNER {
	color: blue;
}

span.role-ADMIN {
	color: red;
}

.account-status-disabled {
	color: red;
}

.page-item.active .page-link {
	background-color: var(--main-color);
	color: white;
}

#myModal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 50%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fefefe;
	margin: 10px auto;
	padding: 0px;
	border: 1px solid #888;
	width: 95%;
	height: 90%;
	position: relative;
}

.close-modal {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	color: #333;
}

.close-modal:hover,
.close-modal:focus {
	color: #000;
}

.modal-header {
	text-align: center;
	margin-bottom: 20px;
}

.modal-body {
	text-align: center;
}

.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

.page-item {
	margin: 0 5px;
}

.page-link {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-decoration: none;
	color: #333;
	background-color: #f2f2f2;
}


/* 모달 창 폼 css */
#editForm {
	margin-top: 20px;
	text-align: center;
}

#editForm div {
	margin-bottom: 10px;
}

#editForm label {
	display: inline-block;
	width: 120px;
}

#editNickname,
#editZipcode,
#editAddress1,
#editAddress2 {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 200px;
}

#editForm button[type="submit"] {
	margin: 10px auto;
	display: block;
	padding: 5px 10px;
	background-color: rgb(255, 128, 128);
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.create_notice_btn {
	margin-top: 20px;

}

.content-container {
	max-width: 900px;
	margin-left: 430px;
	    margin-top: 50px;
}

.notice-item {
	border-bottom: 1px solid #ccc;
	/* margin-top: 2px; */
	padding: 8px;
	cursor: pointer;
}


.notice-content {
	display: none;
	background-color: rgb(248, 248, 248);
	padding: 5px 15px;
	white-space: pre-line;
}

.pagination ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	padding: 0;
}

.pagination ul li {
	margin-right: 10px;
}

.pagination ul li:last-child {
	margin-right: 0;
}

.edit-button {
	display: none;
}

.delete-button {
	display: none;
}

h2 {
	text-align: center;
}

#title {
	width: 900px;
	height: 30px;
	padding: 1px 8px;
	margin: 10px 0px;
	border-radius: 3px;
	color: #232323;
}


label {
	float: left;
}

p {
    margin: 0;
}

button:hover {
    background: var(--hover-color);
}


.ck-editor__editable {
	min-height: 500px;
}

.img_hk {
	margin: 15px 0;
}

.img {
	margin-right: 20px;
}

input #title {
	height: 30px;
}