.pagination {
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 0;
			margin-top: 20px;
		}

		.page-item {
			margin: 0 5px;
		}

		.page-link {
			display: inline-block;
			padding: 5px 10px;
			border: 1px solid #ccc;
			border-radius: 3px;
			text-decoration: none;
			color: #333;
			background-color: #f2f2f2;
		}

		.page-link:hover {
			background-color: #e0e0e0;
		}

		.content-container {
			margin: 0 auto;
			max-width: 800px;
		}

		.inquiry_list {
			margin-top: 20px;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		h2 {
			text-align: center;
		}

		.answer_form {
			/* 답변 입력 칸 스타일 */
			margin-top: 20px;
		}

		.answer_form textarea {
			width: 790px;
			height: 300px;
			padding: 10px;
			border-radius: 5px;
		}

		.answer_form input[type="submit"] {
			margin: 10px auto;
			padding: 5px 10px;
			background-color: rgb(255, 128, 128);
			color: white;
			border: none;
			border-radius: 3px;
			cursor: pointer;
		}

		.inquiry-container {
			background-color: rgb(233, 233, 233);
			border-radius: 7px;
		}

		.answer-container {
			background-color: rgb(233, 233, 233);
			border-radius: 7px;
		}
		
		.notice_btn{
			display: flex;
   			justify-content: flex-end;
   			padding-top: 2px;
		}
		
		.modi_btn {
    background-color: var(--sub-color);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
  }
  .del_btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
  }
  
    .del_btn:hover{
	  background-color: rgb(100, 177, 255);
  }