/* 여기어때 예약 페이지 참고 */

/* 전체 가운데 정렬 */
div#content {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	height: 100vh;
	/* background-color: rgba(241, 243, 244, 1.00); */
}

div.reserve {
	
}

/* 예약자 정보 왼쪽 정렬 */
div.left {
	float: left;
	width: 564px;
	margin: 40px 88px 0 0;
}

/* 예약 객실 정보 오른쪽 정렬 */
div.right {
	float: right;
	width: 310px;
	margin: 40px 31px 0 0;
	background: rgb(250, 250, 250);
	box-sizing: border-box;

	/* display: block; */
}

/* 예약객실정보 strong태그 설정 */
.reserve .info p strong, .reserve .info div strong {
	display: block !important;
	position: relative;
	margin-bottom: 6px;
	font-size: 18px !important;
	line-height: 1;
	color: rgba(0, 0, 0, 0.38);
}

/* 예약객실정보 p태그 설정 */
.reserve .info .name {
	height: auto;
	margin: 0 0 29px 0;
	padding: 0;
	border-bottom: none;
	line-height: 32px;
	text-align: left;
}

.reserve .info p {
	position: relative;
	margin-bottom: 29px;
	padding-left: 0;
	font-size: 20px;
	line-height: 32px;
	color: rgba(0, 0, 0, 0.87);
	text-align: left;
	box-sizing: border-box;
}

.reserve .info {
	margin: 39px 24px 0 24px;
	padding: 0 0 31px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	background: none;
}

.total_price_pc {
	display: block;
	padding: 39px 24px 33px !important;
	background: none !important;
}

.total_price_pc p strong {
	display: block;
	font-size: 16px;
	font-weight: 400;
}

.total_price_pc p span {
	display: block;
	padding: 19px 0 23px;
	font-size: 24px;
	font-weight: 700;
	color: #e61c51;
}

ul, ol, li {
	list-style: none;
}

ul {
	padding: 0px;
}

.total_price_pc ul li {
	margin-bottom: 2px;
	padding-left: 16px;
	background: url(//image.goodchoice.kr/images/web_v3/ico_bul.png) 0 0
		no-repeat;
	background-size: 14px auto;
	font-size: 16px;
	line-height: 26px;
	color: rgba(0, 0, 0, .72);
	text-align: left;
}

.total_price_pc ul li span {
	color: #e61c51;
}

.reserve .right .btn_pay {
	display: block;
	border-radius: 0 0 4px 4px;
}

.btn_pay {
	/* display: block; */
	width: 100%;
	height: 56px;
	border: none;
	font-size: 15px;
	line-height: 56px;
	color: #fff;
	text-align: center;
}

.gra_left_right_red {
	/*    background: rgb(255, 0, 85);
    background: -moz-linear-gradient( left, rgba(255, 0, 85, 1) 1%, rgba(230, 34, 67, 1) 100% );
    background: -webkit-linear-gradient( left, rgba(255, 0, 85, 1) 1%, rgba(230, 34, 67, 1) 100% ); */
	background: linear-gradient(to right, rgba(255, 0, 85, 1) 1%,
		rgba(230, 34, 67, 1) 100%);
	cursor: pointer;
}

/* 왼쪽 div 예약자 정보 섹션 */
.reserve h3 {
	display: block;
	margin: 54px 0 42px 0;
}

.info_chkin strong {
	display: block;
	padding: 0 0 12px 0;
	font-size: 18px;
	/* font-weight: normal; */
	color: rgba(0, 0, 0, 0.56);
}

/* 진주 수정(230719) */
/* .inp_wrap {
            position: relative;
            border: 1px solid rgba(0, 0, 0, 0.08);
            padding: 8px 14px 8px 16px;
            height: 48px;
            border-radius: 4px;
            display: inline;
        } */
.inp_wrap input {
	box-sizing: border-box;
	padding: 8px 14px 8px 16px;
	width: 100%;
	height: 48px;
	border: none;
	border: 1px solid rgba(0, 0, 0, .08);
	border-radius: 4px;
	font-weight: 400;
	font-size: 18px;
	color: rgba(0, 0, 0, .56);
}

.alert_txt {
	height: 46px;
	padding-top: 5px;
	font-size: 14px;
	color: rgb(230, 28, 81);
	visibility: hidden;
}

.info_chkin {
	padding: 0 0 10px 0 !important;
}

.info_chkin strong {
	display: block;
	padding: 0 0 12px 0;
	font-size: 18px;
	/* font-weight: normal; */
	color: rgba(0, 0, 0, 0.56);
}

.guest-phone {
	margin-bottom: 36px;
}

.phone_confirm {
	position: relative;
}

.phone_confirm {
	margin-top: 16px;
}

.safety_txt {
	padding-bottom: 14px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.56);
}

.input-box {
	position: relative;
}

.input-box .input.validation-required-input {
	margin-right: 12px;
	width: calc(100% - 110px);
}

.input-box .input {
	box-sizing: border-box;
	padding: 8px 14px 8px 16px;
	width: 100%;
	height: 48px;
	border: none;
	border: 1px solid rgba(0, 0, 0, .08);
	border-radius: 4px;
	font-weight: 400;
	font-size: 18px;
	color: rgba(0, 0, 0, .56);
}

/* 인증번호 전송 버튼 */
.phone-auth-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 48px;
	padding: 13px 0 10px;
	border: none;
	border-radius: 4px;
	background: #ccc;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
}

/* 휴대폰 번호 유효성 검사 */
.error-message {
	margin: 8px 0;
}

.alert_txt {
	height: 46px;
	padding-top: 5px;
	font-size: 14px;
	color: rgb(230, 28, 81);
}

/* 결제수단 선택 */
.pay_select {
	padding: 0 0 0 0 !important;
	border-bottom: none !important;
}

.pay_select h3 {
	display: block;
	margin-bottom: 19px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 0px !important;
}

/* 결제 수단 select */
#pay_select select {
	width: 288px;
}

.select_type_1 {
	height: 48px;
	padding: 0 12px;
	border: 1px solid rgba(0, 0, 0, .08);
	border-radius: 4px;
	background: #fafafa
		url(https://image.goodchoice.kr/images/web_v3/ico_arr_down.png) right
		10px top 50% no-repeat;
	background-size: 25px auto;
	font-size: 18px;
	color: rgba(0, 0, 0, .56);
	cursor: pointer;
}

.select_type_1 option {
	color: rgba(0, 0, 0, 0.56);
}

input:focus, select:focus, option:focus, textarea:focus, button:focus {
	outline: none;
}

select {
	-webkit-appearance: none; /* for chrome */
	-moz-appearance: none; /*for firefox*/
	appearance: none;
}

select::-ms-expand {
	display: none; /*for IE10,11*/
}

/* 딱히 없어도 상관 없는 듯 */
option {
	font-weight: normal;
	display: block;
	white-space-collapse: collapse;
	text-wrap: nowrap;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}

/* 약관동의 */
.reserve .agree {
	padding: 23px 0;
	font-size: 16px;
	border: none;
}

.reserve .agree .all_check {
	font-weight: 700;
}

.reserve .agree p {
	position: relative;
	padding-top: 11px;
	padding-bottom: 10px;
	line-height: 1.2;
	padding-left: 37px;
}

label {
	cursor: pointer;
}

.reserve .agree input {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -12px;
}

input[type="checkbox"].inp_chk_01 {
	width: 24px;
	height: 24px;
	border: none;
	background: url(https://image.goodchoice.kr/images/web_v3/ico_chk.png) 0
		0 no-repeat;
	background-size: 24px auto;
	cursor: pointer;
}

input[type="checkbox"].inp_chk_02 {
	width: 24px;
	height: 24px;
	border: none;
	background: url(https://image.goodchoice.kr/images/web_v3/ico_chk.png) 0
		0 no-repeat;
	background-size: 24px auto;
	cursor: pointer;
}

.reserve .agree span {
	display: inline-block;
	color: rgba(0, 0, 0, .56);
	cursor: pointer;
}

.agree p i {
	font-style: normal;
	text-decoration: underline;
}

.reserve .agree span b {
	font-weight: 400;
	color: #e61c51;
}

.btn_pay {
	display: block;
	width: 100%;
	height: 56px;
	border: none;
	font-size: 15px;
	line-height: 56px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

#tel_check {
	color: red;
	font-size: 13px;
}

#code_check {
	color: red;
	font-size: 13px;
}

#auth_sec {
	position: relative;
	display: inline-block
}

.btn_ok {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 48px;
	padding: 13px 0 10px;
	border: none;
	border-radius: 4px;
	background: #ccc;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

/* Style for the modal content */
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.role_room {
	color: grey;
	margin-bottom: 10px;
}

.x:hover {
	cursor: pointer;
}

.x {
	margin-left: 100px;
}

#x2 {
	margin-left: 300px;
}

.role_room table {
	border-collapse: collapse;
	width: 100%;
}

.role_room th, .role_room td {
	border: 1px solid black;
	padding: 8px;
	width: 30px;
	text-align: center;
}

.role_room th {
	background-color: #f2f2f2;
	/* Optional: Add a background color for header cells */
	width: 30px;
	text-align: center;
}

#x3 {
	margin-left: 500px;
}

.talbe3 {
	width: 100px;
}

#x4 {
	position: absolute;
	top: 10px;
	margin-top: 10px;
	margin-left: 1000px;
}