h1 {
    font-family: "Arial", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  table {
    border-collapse: collapse;
    width: 100%;
    text-align : center;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  /* 버튼 디자인 */
  
   #reservebtn {
    background: #fee500;
    color: #fff;
    border-radius: 12px;
    padding: 10px 20px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, rgba(255, 0, 85, 1) 1%,
		rgba(230, 34, 67, 1) 100%);
  }

  #reservebtn:hover {
    background: red;
  }

  #reservebtn:active {
    background: red;
  }