	.backBtn {
		width: 100%;
	    height: 56px;
	    border: none;
	    font-size: 15px;
	    line-height: 56px;
	    color: #fff;
	    background-color: #e61c51;
	    text-align: center;
	    cursor: pointer;
	    border-radius: 4px 4px 4px 4px;
	    margin-top: 28px;
	    font-weight: bold;
}