#view1 {
	margin: 0;
	font-family: 'SDGothic', 'Noto Sans KR', sans-serif;
}

/* .datepicker {
	margin-top: 660px;
	margin-left: 490px;
	position: fixed;
	z-index: 200;
	background-color: white;
	width: 256px; 추가한 속성
	
} */
.ui-datepicker {
	width: 450px !important;
}

.ui-datepicker table {
	background-color: #fff;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	z-index: 10;
	border: solid 1px gray;
	font-family: 'SDGothic', 'Noto Sans KR', sans-serif;
	width: 200px !important;
}

.table-condensed {
	width: 200px;
}

/* room 영역 스타일 */
.room {
	overflow: hidden;
	display: flex;
	positon: relative;
	margin: 40px 0 24px 0;
	background: #fff;
	padding: 20px 24px 20px 24px;
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	box-sizing: border-box;
}

.pic_view {
	background-color: gray;
	display: inline-block;
	/* position: relative;
	top: 0px;
	margin-right: 0px;  */
	width: 376px;
	height: 226px;
	cursor: pointer;
}

.imgContainer {
	width: 376px;
	height: 226px;
	overflow: hidden;
	margin: 0 auto;
}

.pic_view img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* 이미지를 div에 맞추어 비율을 유지하며 보여줌 */
}

.title {
	margin-top: 10px;
	display: inline-block;
	height: 20px;
	font-size: 20px;
}

.room .room_info {
	height: 116px;
	margin-top: 0px;
	width: 447px;
	margin-left: 39px;
}

.hotel {
	width: 100%;
}

.price {
	margin-top: 40px;
	width: 100%;
	display: flex;
}

.price strong {
	font-size: 16px;
	float: left;
}

.price p {
	float: right;
	font-size: 18px;
}

.price p b {
	font-size: 20px;
}

.hotel button {
	display: block;
}

.room_info .hotel .btn_reserve {
	width: 100%;
	height: 56px;
	border: none;
	font-size: 15px;
	line-height: 56px;
	color: #fff;
	background-color: var(--main-color);
	text-align: center;
	cursor: pointer;
	border-radius: 4px 4px 4px 4px;
	margin-top: 66px;
	font-weight: bold;
	font-family: 'SDGothic', 'Noto Sans KR', sans-serif;
}

#datepicker1 {
	width: 230px;
	height: 40px;
	border: 1px solid rgba(0, 0, 0, 0.08);
	padding-left: 12px;
	border-radius: 4px 4px 4px 4px;
	background-color: #fff;
	font-size: 16px;
}

#date-choose {
	height: 43px;
	line-height: 1px;
	background-color: var(--main-color);
	box-shadow: none;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 4px 4px 4px 4px;
	font-weight: bold;
}

input:focus, input:active, button:focus, button:active {
	outline: none;
	box-shadow: none;
}

/* 스타일링을 추가할 클래스들에 적절한 스타일을 정의 - 타임리프 조건에 따라 적용 */
.gray-filter {
	filter: grayscale(100%);
}

.gray-text {
	color: gray;
}

.gray-button {
	width: 100%;
	height: 56px;
	border: none;
	font-size: 15px;
	line-height: 56px;
	background-color: gray;
	color: white;
	text-align: center;
	cursor: pointer;
	border-radius: 4px 4px 4px 4px;
	margin-top: 28px;
	font-weight: bold;
	pointer-events: none; /* 버튼 클릭 비활성화 */
}