/* 상세내용 */
body {
	font-family: 'SDGothic', 'Noto Sans KR', sans-serif;
}

.page_container {
	display: flex;
	width: 1000px;
	margin: 10px auto;
	margin-top: 50px;
	height: 350px;
	padding-top: 25px;
}

.page_left {
	/* 	width: 100%; */
	/* margin-right: 5px; */
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

/* 달력 */
.datepicker table {
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 10;
	position: absolute;
	background: #fff;
}

.left_main_image {
	width: 490px;
	height: 350px;
}

/* .left_main_image img { */
/*     width: 100%; */
/*     height: 100%; */
/* } */
.fixed_image {
	width: 490px;
	height: 350px;
}

.left_image {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.left_image img {
	width: calc(25% - 5px);
	margin-right: 5px;
}

.page_right {
		width: 480px;
	padding-left: 30px;
	/* 	margin-left: 30px; */
}

.hotelname {
	font-size: 27px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

ul.page_tabs {
	padding: 7px 0;
	font-size: 0;
	margin-top: 80px;
	/* 	margin-left: 140px; */
	list-style-type: none;
	/* 	text-align: center; */
	width: 100%;
}

ul.page_tabs li {
	display: inline-block;
	margin: 0;
	/* margin-right: 3px; */
	width: 320px;
	text-align: center;
}

ul.page_tabs li a {
	/*     font: normal 12px Arial, sans-serif; */
	font-family: 'SDGothic', 'Noto Sans KR', sans-serif;
	font-size: 20px;
	text-decoration: none;
	position: relative;
	padding: 10px;
	/* border: 1px solid #f7f7f7; */
	/* border-bottom-color: #B7B7B7; */
	/* color: #777; */
	outline: none;
	text-align: center;
	margin: 0 auto;
}

.page_tabs li a.active {
	color: red !important; /* 선택된 탭 색상 */
	font-weight: bold !important;
	border-bottom: 2px solid red !important;
	width: 200px;
	display: block;
}

ul.page_tabs li a:visited {
	color: #000;
}

ul.page_tabs li a:hover {
	/* border: 1px solid #B7B7B7; */
	background: #F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}

ul.page_tabs li.selected a, ul.page_tabs li.selected a:hover {
	position: relative;
	top: 0px;
	font-weight: normal;
	color: #333;
	background: white;
	/* border: 1px solid #B7B7B7; */
	border-bottom-color: white;
	text-align: center;
}

ul.page_tabs li.selected a:hover {
	text-decoration: none;
}

div.tabcontents {
	/* border: 1px solid #B7B7B7; */
	background-color: #FFF;
	font-size: 14px;
	padding: 30px 25px;
	height: 2000%;
	margin-top: 30px;
}

.page_tab {
	width: 962px;
	margin: 0 auto;
	padding: 0 16px;
	margin-top: 38px;
	clear: both;
	overflow: hidden;
	/* border: 1px solid rgba(0, 0, 0, 0.08); */
}

.coment_author {
	/*    border-radius:8px; */
	background-color: rgb(251, 251, 251);
/* 	width: 450px; */
	height: 125px;
	margin-top: 58px;
	padding: 20px;
	overflow-wrap: break-word;
	/*    border: 0.5px solid rgb(224, 224, 224); */
}

.score_start {
	color: orange;
	text-shadow: 2px 2px 2px #a5a5a5;
}

.hoteladdress {
	margin: 10px 0;
	font-size: 17px;
	color: grey;
	font-size: 17px;
}

#acc_score {
	font-size: 12px;
}

.room_detail_fee {
	margin-bottom: 15px;
	font-size: 20px;
}

#myform fieldset {
	display: inline-block;
	direction: rtl;
	border: 0;
}

#myform fieldset legend {
	text-align: right;
}

#myform input[type=radio] {
	display: none;
}

#myform label {
	font-size: 3em;
	color: transparent;
	text-shadow: 0 0 0 #f0f0f0;
}

#myform label:hover {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
	cursor: pointer;
}

#myform label:hover ~label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
	cursor: pointer;
}

#myform input[type=radio]:checked ~label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
	cursor: pointer;
}

#reviewContents {
	width: 80%;
	margin-left: 90px;
	height: 150px;
	padding: 10px;
	box-sizing: border-box;
	border: solid 1.5px #D3D3D3;
	border-radius: 5px;
	font-size: 16px;
	resize: none;
}

#review_confirm {
	border-radius: 10px;
	border: none;
	margin-top: 20px;
	margin-left: 730px;
	margin-bottom: 50px;
	width: 70px;
	height: 40px;
	background-color: rgb(255, 128, 128);
	color: white;
}

#review_title {
	margin-left: 330px;
	font-size: 20px;
}

#room_start_k {
	margin-left: 270px;
	margin-bottom: 10px;
	font-size: 20px;
}

#title_revieww {
	margin-left: 60px;
	font-size: 20px;
	margin-bottom: 60px;
}

#review_confirm:hover {
	cursor: pointer;
}

#error_message {
	margin-top: 10px;
	margin-left: 270px;
}

li {
	list-style-type: none;
}

.declaration {
	border: none;
	background-color: rgb(255, 128, 128);
	color: white;
	font-weight: bold;
	width: 80px;
	height: 30px;
	border-radius: 8px;
}

#declaration:hover {
	cursor: pointer;
}

.modal_declaration {
	display: none;
	/* 초기에는 모달 숨김 */
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

/* 모달 콘텐츠 스타일 */
.modal-content_declaration {
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 400px;
	height: 550px;
	background-color: white;
	position: relative;
}

.modal-content_declaration .close {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 28px;
	font-weight: bold;
	color: #888;
	cursor: pointer;
}

#reason_dec {
	width: 400px;
	height: 30px;
}

#decl_detail {
	padding: 10px 10px 10px 10px;
}

.class {
	
}

#review_list {
	margin-left: 80px;
}

#declr_btn {
	margin-top: 10px;
	margin-left: 110px;
	width: 200px;
	height: 40px;
	border: none;
	background-color: orange;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

#declr_btn:hover {
	cursor: pointer;
}

#pd_id1 {
	display: none;
}

#pd_id2 {
	display: none;
}

#ttt {
	display: none;
}

.declaration {
	position: absolute;
	left: 1200px;
}

.declaration:hover {
	cursor: pointer;
}