/* * {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
} */
#Container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 800px;
}
#noAcc{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -300px;
	margin-left: 25px;
	/* You can add more styling as needed */
	height: 100vh;
	}
	#noAcc2{
	color:grey;
	}
#mainContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 55px;
}

.top {
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	width: 800px;
	border: 1px solid rgb(149, 148, 153);
	border-radius: 8px;
}

.left {
	width: 40%;
	height: 300px;
}

.left img {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.right {
	width: 60%;
}

.right .info {
	padding: 18px 20px 5px;
}

.right h2 {
	display: inline-block;
}

.right .info .score_cnt {
	margin: 9px 0 6px 0;
}

.right .info .address {
	margin: 6px 0 8px 0;
	padding-top: 6px;
	font-size: 18px;
}

.right .partner_comment strong {
	display: block;
	font-size: 16px;
}

.right .partner_comment {
	padding: 15px 26px 20px;
	background: rgb(250, 250, 250);
	overflow-wrap: break-word;
}

.partner_comment p {
	margin-bottom: 0px;
}

#pdMainEditArea {
	text-align: right;
}

#pdMainEditBtn {
	width: 120px;
	height: 40px;
	margin-top: 10px;
	margin-left: 650px;
	background-color: #263343;
	border-radius: 10px;
	color: white;
	cursor: pointer;
}

#pdMainEditBtn:hover {
	background-color: rgb(155, 155, 155);
}

#pdShowAddRoonBtn {
	width: 120px;
	height: 40px;
	margin-top: 10px;
	margin-left: 650px;
	background-color: var(--main-color);
	transition: opacity 0.4s ease-in-out;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	transition: opacity 0.4s ease-in-out;
	border: none;
	font-size: 15px;
    font-weight: bold;
    border: none;
}

#pdShowAddRoonBtn:hover {
	transition: opacity 0.4s ease-in-out;
	border-radius: 4px;
    color: #fff;
    border: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    background-color: #cc0000;
}

/*productContent CSS  */
.productContent {
	margin-top: 25px;
	padding-top: 10px;
	border-top: 2px solid rgb(175, 173, 180);
}

.name_fild {
	display: flex;
	height: 40px;
}

.name_fild span {
	font-size: 18px;
    margin: 5px 5px 0px 0px;
    padding: 6px 3px;
    border: 1px solid rgb(253, 194, 194);
    background-color: rgb(253, 194, 194);
    border-radius: 5px;
}

.name_fild p {
	font-size: 25px;
	margin-top: 8px;
}

/* 여기서 가져온거 */

/* ============= 상품 리스트 ============= */
.box {
	width: 800px;
	height: 400px;
	margin-bottom: 20px;
	border: 1px rgb(149, 148, 153) solid;
	box-sizing: border-box;
	display: flex;
	border-radius: 8px;
}

#prListEdit {
	width: 790px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

#prListEdit #prListEditBtn {
	width: 280px;
	height: 40px;
	margin-top: 10px;
	background-color: #263343;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	transition: opacity 0.4s ease-in-out;
}

#prListEdit #prListEditBtn:hover {
	background-color: rgb(155, 155, 155);
	transition: opacity 0.4s ease-in-out;
}

/* 상품리스트 h2 */
#prListEdit h2 {
	font-size: 30px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-bottom: 20px;
}

/* ==== 글자 왼쪽 여백 조정 및 해당 영역의 글자 크기 조정==== */
.Product_contents .prName .product_type, .Product_contents .prName .edit_type,
	.Product_contents .pdDetail .product_detail, .Product_contents .pdDetail .edit_detail,
	.Product_contents .pdAmount .product_amount, .Product_contents .pdAmount .edit_amount,
	.Product_contents .pdCountArea .product_count, .Product_contents .pdCountArea .edit_count,
	.Product_contents .pdCountArea .product_pernum, .Product_contents .pdCountArea .edit_pernum,
	.Product_contents .pdTimeArea .checkin, .Product_contents .pdTimeArea .edit_checkin,
	.Product_contents .pdTimeArea .checkout, .Product_contents .pdTimeArea .edit_checkout
	{
	padding: 2px 0 0 7px;
	font-size: 13px;
}

/* ============== 이미지 부분 시작 ================== */
.boxCintainer {
	flex-direction: column;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	border-top-left-radius: 8px;
	border-right: 1px rgb(149, 148, 153) solid;
}

.itemexer {
	height: 50%;
	box-sizing: border-box;
}

.imgLists {
	height: 50%;
	box-sizing: border-box;
}

.slideshow-container {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin-right: 10px;
	margin: 0 auto;
	overflow: hidden;
	border-top-left-radius: 8px;
}

/* 배열에 저장된 이미지 슬라이드 위해서 바로 보여지는 이미지 숨김 */
.showImgs img {
	display: none;
}

.list_img {
	width: 50px;
	height: 50px;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: opacity 0.4s ease-in-out;
	border: 2px rgb(46, 75, 1) solid;
}

.prev, .next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}

/* display: flex하기 위한 영역 */
.imgLists .image-list {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-around; */
	/* justify-content: flex-start; */
}

.imgLists {
	border-bottom-left-radius: 8px;
	position: relative;
}

.image-list {
	padding: 0;
	margin: 5px;
	border-bottom-left-radius: 8px;
	display: inline-block;
	position: relative;
}

/* 해당 이미지 리스트에 있는 이미지 영역 */
.imgLists .image-list li {
	list-style-type: none;
	position: relative;
	width: 95px;
	height: 85px;
	padding: 0;
	margin: 5px 15px;
	justify-content: flex-start;
}

.list_img {
	width: 95px;
	height: 80px;
	margin-left: 5px;
	border-radius: 4px;
}

/* 이미지가 담겨져 있는 크기를 조정 */
.img_list_position {
	width: 100px;
	height: 90px;
	padding: 0 10px 10px 0;
	border-radius: 4px;
}

.imgLists_deleteButton_position {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.imgLists_deleteButton {
	font-size: 20px;
	color: #080808;
	background-color: rgb(206, 206, 206);
	border: none;
	cursor: pointer;
	outline: none;
	padding: 4px;
	margin-top: 3px
}

/* 상품리스트 이미지 추가 관련  */
.imageUploadContainer {
	position: absolute;
	transition: background-color 0.3s ease;
	bottom: 0;
	right: 0;
}

.addImagesButton {
	border: none;
	outline: none;
	font-size: 13px;
	padding: 10px 10px;
	border-radius: 4px;
	background-color: rgb(235, 235, 235);
	color: #fff;
	width: 95px;
	height: 85px;
	margin: 20px 27px 15px 15px;
}

/* .addImagesButton:hover {
	background-color: #8f928f;
} */

/* 이미지 추가에서 파일 선택 숨김 */
.imageUploadInput {
	display: none;
}

/* =========== 이미지 옆 내용 ============ */

/* 내용들이 담겨야 하는부분 */
.Product_contents {
	/* border: 1px rgb(163, 165, 168) solid; */
	width: 50%;
	padding: 10px;
	/* 안에 내용 정렬 */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Product_contents p {
	display: flex;
	align-items: center;
	font-size: 15px;
	/* margin-bottom: 20px; */
	margin-bottom: 5px;
}

.Product_contents span {
	font-weight: bold;
	border: #c9c9c9 1px solid;
	border-radius: 6px;
	height: 120%;
	display: inline-block;
	width: 120px;
	margin-left: 8px;
}

.Product_contents p input {
	font-weight: bold;
	border: #cfba9d 1px solid;
	border-radius: 6px;
	height: 120%;
	display: inline-block;
	width: 120px;
	margin-left: 8px;
}

/* 객실 이름 */
.prName {
	display: flex;
	/* margin-bottom: 8px; */
}

.Product_contents .product_type {
	width: 300px;
	height: 25px;
}

.Product_contents .edit_type {
	width: 300px;
	height: 25px;
	font-weight: bold;
	border: #cfba9d 1px solid;
	border-radius: 6px;
	display: inline-block;
	margin-left: 10px;
}

/* 상세 설명 */
.pdDetail {
	display: flex;
	margin-top: 20px;
}

.pdDetail p {
	height: 20px;
}

.Product_contents .product_detail {
	width: 300px;
	height: 60px;
}

.Product_contents .edit_detail {
	width: 300px;
	height: 60px;
	font-weight: bold;
	border: #cfba9d 1px solid;
	border-radius: 6px;
	display: inline-block;
	margin-left: 10px;
}

/* 금액 */
.pdAmount {
	display: flex;
	/* margin-bottom: 8px */
	margin-top: 20px;
}

.pdAmount p {
	height: 20px;
	padding-left: 3px;
}

.Product_contents .product_amount {
	width: 300px;
	height: 25px;
	margin-left: 35px;
}

.Product_contents .edit_amount {
	width: 300px;
	height: 25px;
	margin-left: 35px;
	font-weight: bold;
	border: #cfba9d 1px solid;
	border-radius: 6px;
	display: inline-block;
}

/* 객실 수 , 최대 인원 수  */
.pdCountArea {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	margin-right: 10px;
}

/* 상품리트스 시간 */
.pdTimeArea {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	margin-right: 10px;
}

/* 버튼 div */
.btnArea {
	display: flex;
	justify-content: space-around;
	margin-top: 9px;
}

.Product_contents button {
	padding: 10px 20px;
	margin-top: 10px;
	background-color: #d49466;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 45%;
}

.Product_contents button:not(:last-child) {
	margin-right: 10px;
}

.Product_contents button[type="reset"] {
	background-color: #ccc;
}

.Product_contents button:hover {
	transition: background-color 0.3s ease;
	background-color: #f0a441;
}

#addNewAccBtn {
	padding: 10px 20px;
	margin-top: 10px;
	background-color: rgb(255, 64, 64);
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 45%;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
}

#addNewAccBtn:hover {
	background-color: #e400008e;
	transition: background-color 0.3s ease;
}

#noAccfild {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	flex-direction: column;
	margin-top: 50px;
}

#noAcc {
	width: 800px;
	padding: 0 20px 15px 20px;
	margin-bottom: 10px;
	padding: 0 20px 15px 20px;
}

#noAccAddNewAccBtn {
	padding: 10px 20px;
	margin-top: 10px;
	background-color: rgb(255, 64, 64);
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 45%;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
}

#noAccAddNewAccBtn:hover {
	background-color: #e400008e;
	transition: background-color 0.3s ease;
}

/* 페이징 처리 */
#accPaging {
	margin-top: 20px;
}

.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.pagination .page_item {
	display: inline;
	margin: 0;
	padding: 0;
}

/* 이전 버튼 */
.pagination .page_previous a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: white;
	background-color: #ff7b7ba3;
	border-radius: 6px 0 0 6px;
}

/* 다음 버튼 */
.pagination .page_next a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: white;
	background-color: #ff7b7ba3;
	border-radius: 0 6px 6px 0;
}

.pagination .page_item a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #000;
	background-color: #ffa1a1a3;
}

.pagination .page_item .page_link {
	color: #fff;
}


.pagination .page_previous.disabled a {
	pointer-events: none;
	cursor: default;
	background-color: #ffdcdcd3; color : white;
	border-color: #e9ecef;
	color: white;
	color: white;
}

.pagination .page_next.disabled a {
	pointer-events: none;
	cursor: default;
	background-color: #ffdcdcd3;
	color: white;
	border-color: #e9ecef;
}

.pagination .page_item.active a {
	background-color: var(--main-color);
	color: #fff;
	border-color: #007bff;
}

.pagination .page_item.active a:hoover{
	background-color: #cc0000;
}