* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#allProductContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ìœ íš¨ì„± ê²€ì‚¬ ì¡°ê±´ ë¶ˆì¶©ì¡± ì‹œ ì—ëŸ¬ ë©”ì„¸ì§€  */
.error-message {
    font-size: 12px;
}

/* ìƒí’ˆ ìˆ˜ì • ìœ íš¨ì„± ê²€ì‚¬ ì—ëŸ¬ ë©”ì„¸ì§€  */
.error {
    font-size: 11px;
    padding: 0 0 0 80px;
    margin-top: 3px;
}

#edit_count_error {
    font-size: 11px;
    padding: 0 0 0 60px;
    margin-top: 3px;
}

#edit_pernum_error {
    font-size: 11px;
    padding: 0 0 0 60px;
    margin-top: 3px;
}

/* ========== ìƒí’ˆ ë“±ë¡ ========== */
#Product-registration {
    width: 880px;
    height: auto;
    border-bottom: 2px rgb(175, 173, 180) solid;
    margin-bottom: 25px;
    padding: 20px;
}

#Product-registration h1 {
    font-size: 35px;
    color: #263343;
    margin-bottom: 20px;
    margin-left: 14px;
}

#productForm label {
    display: block;
    font-size: 15px;
    margin-top: 10px;
}

#Product-registration input {
    margin-top: 8px;
}

/* ìž…ë ¥ í•„ë“œ ìŠ¤íƒ€ì¼ */
#Product-registration input[type="text"],
#Product-registration input[type="number"],
#Product-registration input[type="time"],
#Product-registration input[type="file"],
#Product-registration select {
    width: 100%;
    padding: 10px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* ë°© ë“±ë¡, ê¸ˆì•¡ */
#roomAndAmount {
    display: flex;
    justify-content: space-around;
}

#roomAndAmount label {
    width: 45%;
}

/* ìƒì„¸ ì„¤ëª… */
#pr-detail {
    width: 95%;
    margin: 0 auto;
}

/* ë°© ê°¯ìˆ˜, ìµœëŒ€ ìˆ˜ìš©ì¸ì› */
#countArea {
    display: flex;
    justify-content: space-around;
}

#countArea label {
    width: 45%;
}

/* ì—…ì†Œë“±ë¡ ì‹œê°„  */
#timeArea {
    display: flex;
    justify-content: space-around;

}

#timeArea label {
    width: 45%;
}

/* íŒŒì¼ ì„ íƒ  */


#fileAreaText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    margin-top: 10px;
}

#fileAreaText .product_img_text {
    width: 100px;
    font-size: 16px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#roomPhotos {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    color: #f7f7f7;
    height: 30px;
    width: 100px;
    border-radius: 4px;
    background-color: #c3b3b3d3;
    cursor: pointer;
    margin-bottom: 10px;
}


.file_list_area {
    display: block;
    width: 95%;
    height: 120px;
    margin: 0 auto;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 2px;
    margin-bottom: 15px;
    /* ë‚´ìš©ì´ ìš”ì†Œì˜ í¬ê¸°ë¥¼ ì´ˆê³¼í•  ë•Œë§Œ ìŠ¤í¬ë¡¤ë°” í‘œì‹œ */
    /* overflow: auto; */
}

.file_list_header_area {
    border-bottom: 1px solid rgb(199, 198, 198);
    height: 30px;
    line-height: 30px;
    background-color: #fff1f1;
}

.file_list_header {
    display: block;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.file_list_header_title {
    padding-left: 20px;
    font-weight: bold;
    color: #5a5a5a;
}

.file_list_header_del {
    font-weight: bold;
    color: #5a5a5a;
    cursor: pointer;
}

.file_info_area {
	min-height:50px;
    max-height: 88px;
    overflow: auto;
}

.file_infos {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    max-height: 120px;
}



/* li ê´€ë ¨ ìˆ˜ì • */

.file_info_li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.file_img_and_link {
    display: flex;
}

.show_file_img {
    width: 30px;
    height: 30px;
    margin-right: 4px;
    border-radius: 5px;

}

.file_link_name {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis
}

.file_img_deleate {
    width: 30px;
    height: 25px;
    text-align: center;
    padding: 0 auto;
    margin-right: 15px;
    margin-top: 3px;
}





#fileArea input[type=file]::file-selector-button {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 2px;
    cursor: pointer;
}

#fileArea input[type=file] {
    display: none;

}


/* íŒŒì¼ ì„ íƒ ìˆ˜ì •ì¤‘ */



/* ë²„íŠ¼ ìŠ¤íƒ€ì¼ */
#Product-registration button {
    /* padding: 10px 20px; */
    background-color: var(--main-color);
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#Product-registration #addProductReset {
    background-color: #c3b3b3d3;
}

#Product-registration #addProductReset:hover {
    background-color: #958888d3;
}

#Product-registration button:hover {
    background-color: #cc0000;
}

#addResetBtn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    height: 50px;
}

#addResetBtn button {
    width: 45%;
}

/* ============= ìƒí’ˆ ë¦¬ìŠ¤íŠ¸ ============= */
.box {
    width: 800px;
    height: 400px;
    margin-bottom: 20px;
    border: 1px rgb(149, 148, 153) solid;
    box-sizing: border-box;
    display: flex;
    border-radius: 8px;
}

#prListEdit {
    width: 790px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#prListEdit #prListEditBtn {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    background-color: var(--main-color);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    border: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#prListEdit #prListEditBtn:hover {
    background-color: #cc0000;
}

/* ìƒí’ˆë¦¬ìŠ¤íŠ¸ h2 */
#prListEdit .list_title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
}

/* ==== ê¸€ìž ì™¼ìª½ ì—¬ë°± ì¡°ì • ë° í•´ë‹¹ ì˜ì—­ì˜ ê¸€ìž í¬ê¸° ì¡°ì •==== */
.Product_contents .prName .product_type,
.Product_contents .prName .edit_type,
.Product_contents .pdDetail .product_detail,
.Product_contents .pdDetail .edit_detail,
.Product_contents .pdAmount .product_amount,
.Product_contents .pdAmount .edit_amount,
.Product_contents .pdCountArea .product_count,
.Product_contents .pdCountArea .edit_count,
.Product_contents .pdCountArea .product_pernum,
.Product_contents .pdCountArea .edit_pernum,
.Product_contents .pdTimeArea .checkin,
.Product_contents .pdTimeArea .edit_checkin,
.Product_contents .pdTimeArea .checkout,
.Product_contents .pdTimeArea .edit_checkout {
    padding: 2px 0 0 7px;
    font-size: 13px;
}

/* ============== ì´ë¯¸ì§€ ë¶€ë¶„ ì‹œìž‘ ================== */
.boxCintainer {
    flex-direction: column;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border-top-left-radius: 8px;
    border-right: 1px rgb(149, 148, 153) solid;
}

.itemexer {
    height: 50%;
    box-sizing: border-box;
}

.imgLists {
    height: 50%;
    box-sizing: border-box;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-right: 10px;
    margin: 0 auto;
    overflow: hidden;
    border-top-left-radius: 8px;
}

/* ë°°ì—´ì— ì €ìž¥ëœ ì´ë¯¸ì§€ ìŠ¬ë¼ì´ë“œ ìœ„í•´ì„œ ë°”ë¡œ ë³´ì—¬ì§€ëŠ” ì´ë¯¸ì§€ ìˆ¨ê¹€ */
.showImgs img {
    display: none;
}

.list_img {
    width: 50px;
    height: 50px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.4s ease-in-out;
    border: 2px rgb(46, 75, 1) solid;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* display: flexí•˜ê¸° ìœ„í•œ ì˜ì—­ */
.imgLists .image-list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.imgLists {
    border-bottom-left-radius: 8px;
    position: relative;
}

.image-list {
    padding: 0;
    margin: 5px;
    border-bottom-left-radius: 8px;
    display: inline-block;
    position: relative;
}

/* í•´ë‹¹ ì´ë¯¸ì§€ ë¦¬ìŠ¤íŠ¸ì— ìžˆëŠ” ì´ë¯¸ì§€ ì˜ì—­ */
.imgLists .image-list li {
    list-style-type: none;
    position: relative;
    width: 95px;
    height: 85px;
    padding: 0;
    margin: 5px 15px;
    justify-content: flex-start;
}

.list_img {
    width: 95px;
    height: 80px;
    margin-left: 5px;
    border-radius: 4px;
}

/* ì´ë¯¸ì§€ê°€ ë‹´ê²¨ì ¸ ìžˆëŠ” í¬ê¸°ë¥¼ ì¡°ì • */
.img_list_position {
    width: 100px;
    height: 90px;
    padding: 0 10px 10px 0;
    border-radius: 4px;
}

/* ìƒí’ˆë¦¬ìŠ¤íŠ¸ ì´ë¯¸ì§€ ì¶”ê°€ ê´€ë ¨  */
.imageUploadContainer {
    position: absolute;
    transition: background-color 0.3s ease;
    bottom: 0;
    right: 0;
}

.addImagesButton {
    border: none;
    outline: none;
    font-size: 13px;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: rgb(235, 235, 235);
    color: #fff;
    width: 95px;
    height: 85px;
    margin: 20px 27px 15px 15px;
}

/* ì´ë¯¸ì§€ ì¶”ê°€ì—ì„œ íŒŒì¼ ì„ íƒ ìˆ¨ê¹€ */
.imageUploadInput {
    display: none;
}

/* =========== ì´ë¯¸ì§€ ì˜† ë‚´ìš© ============ */

/* ë‚´ìš©ë“¤ì´ ë‹´ê²¨ì•¼ í•˜ëŠ”ë¶€ë¶„ */
.Product_contents {
    /* border: 1px rgb(163, 165, 168) solid; */
    width: 50%;
    padding: 10px;
    /* ì•ˆì— ë‚´ìš© ì •ë ¬ */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Product_contents p {
    display: flex;
    align-items: center;
    font-size: 15px;
    /* margin-bottom: 20px; */
    margin-bottom: 5px;
}

.Product_contents span {
    font-weight: bold;
    border: #c9c9c9 1px solid;
    border-radius: 6px;
    height: 120%;
    display: inline-block;
    width: 120px;
    margin-left: 8px;
    overflow-y: scroll;
}

.Product_contents p input {
    font-weight: bold;
    border: #cfba9d 1px solid;
    border-radius: 6px;
    height: 120%;
    display: inline-block;
    width: 120px;
    margin-left: 8px;
}

/* ê°ì‹¤ ì´ë¦„ */
.prName {
    display: flex;
}

.Product_contents .product_type {
    width: 300px;
    height: 25px;
}

.Product_contents .edit_type {
    width: 300px;
    height: 25px;
    font-weight: bold;
    border: #cfba9d 1px solid;
    border-radius: 6px;
    display: inline-block;
    margin-left: 10px;
}

/* ìƒì„¸ ì„¤ëª… */
.pdDetail {
    display: flex;
    margin-top: 20px;
}

.pdDetail p {
    height: 20px;
}

.Product_contents .product_detail {
    width: 300px;
    height: 60px;
}

.Product_contents .edit_detail {
    width: 300px;
    height: 60px;
    font-weight: bold;
    border: #cfba9d 1px solid;
    border-radius: 6px;
    display: inline-block;
    margin-left: 10px;
}

/* ê¸ˆì•¡ */
.pdAmount {
    display: flex;
    /* margin-bottom: 8px */
    margin-top: 20px;
}

.pdAmount p {
    height: 20px;
    padding-left: 3px;
}

.Product_contents .product_amount {
    width: 300px;
    height: 25px;
    margin-left: 35px;
}

.Product_contents .edit_amount {
    width: 300px;
    height: 25px;
    margin-left: 35px;
    font-weight: bold;
    border: #cfba9d 1px solid;
    border-radius: 6px;
    display: inline-block;
}

/* ê°ì‹¤ ìˆ˜ , ìµœëŒ€ ì¸ì› ìˆ˜  */
.pdCountArea {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 10px;
}

/* ìƒí’ˆë¦¬íŠ¸ìŠ¤ ì‹œê°„ */
.pdTimeArea {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 10px;
}

/* ë²„íŠ¼ div */
.btnArea {
    display: flex;
    justify-content: space-around;
    margin-top: 9px;
}

.Product_contents .editProduct {
    padding: 10px 20px;
    margin-top: 10px;
    background-color:  var(--main-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 45%;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.Product_contents .editProduct:hover {
    background-color: #cc0000;
}

.Product_contents .deleteProduct {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #c3b3b3d3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 45%;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.Product_contents .deleteProduct:hover {
    background-color: #958888d3;
    transition: background-color 0.3s ease;
}

.Product_contents button:not(:last-child) {
    margin-right: 10px;
}