#go_reg_partner {
	color: grey;
}

td, th {/* 	border: 1px solid rgb(205, 205, 205); */padding: 5px;}

.addProductBtn {
	margin-top: 2px;
	padding: 4px;
	background-color: var(--main-color);
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.addProductBtn:hover {
	background-color: #cc0000;
	cursor: pointer;
}

.pagination-horizontal {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        margin-top:600px;
        margin-left:330px;
    }

    .pagination-horizontal li {
        margin: 0 5px;
    }
 .active-page {
        color: red;
        font-weight: bold;
    }
    
    