<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>결제 취소</title>
</head>
<body>
	
	<!--  
		
	<button id="kaobtn2" style="background: #fee500; color:#000; border-radius: 12px; 
	padidng: 10px 20px;">결제취소</button>	
	-->
	

	<!-- jQueryCDN -->
	<script src="https://code.jquery.com/jquery-3.7.0.js"
		integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
		crossorigin="anonymous"></script>
	
    <h1>카카오페이 취소가 정상적으로 완료되었습니다.</h1>
    
    <!-- 
		<h3>결제 상세 정보:</h3>
		<p>결제일시: [[${info.approved_at}]]</p>
    <p>주문번호: [[${info.partner_order_id}]]</p>
    <p>상품명: [[${info.item_name}]]</p>
    <p>상품수량: [[${info.quantity}]]</p>
    <p>결제금액: [[${info.amount.total}]]</p>
    <p>결제방법: [[${info.payment_method_type}]]</p>
    <h2>[[${info}]]</h2>
	-->
    
    <!--  
	<script>
		
		$(function() {
		$("#kaobtn2").click(function (){ 
			$.ajax({
				type: 'post',
				url: "/refund",
				data: {
					cancel_amount: "100",
					cancel_tax_free_amount: "0",
					cancel_vat_amount: "0",
				},
				success: function(cres) {
					location.href = "https://localhost8080/refund";
				}
			});
		});
	});
	</script>	
		
	-->
    
    
    
</body>
</html>