<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>결제 완료</title>
<link rel="stylesheet" href="/css/kdg_success.css">
</head>
<body>
	<!-- jQueryCDN -->
	<script src="https://code.jquery.com/jquery-3.7.0.js"
		integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
		crossorigin="anonymous">
	</script>
	
    <h1> 결제가 정상적으로 완료되었습니다.</h1>
<h3>결제 상세 정보:</h3>

<table>
  <tr>
    <th>항목</th>
    <th>값</th>
  </tr>
  <tr>
    <td>결제일시</td>
    <td>[[${book.paymentDate}]]</td>
  </tr>
   <tr>
    <td>주문번호</td>
   <td id="tid">[[${book.tid}]]</td>
  </tr>
  <tr>
    <td>상품명</td>
    <td class="item_name">[[${book.roomTitle}]]</td>
  </tr>
  <tr>
    <td>결제금액</td>
    <td id="amount">[[${book.totalPrice}]]</td>
  </tr>
  <tr>
    <td>결제방법</td>
    <td>[[${book.payType}]]</td>
  </tr>
</table>
	<br>
	 <button id="reservebtn" onclick="location.href='/user/mypage/my_booking'">예약내역으로 이동</button>
    
</body>
</html>