<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<style>
body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 10px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.container {
    margin: 10px auto;
    width: 90%;
    height: 100%;
    margin-left: 110px
    }

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

form {
	display: inline-block;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

/* 추가된 CSS */
span.role-USER {
	color: black;
}

span.role-PARTNER {
	color: blue;
}

span.role-ADMIN {
	color: red;
}

/* 추가된 CSS */
.account-status-disabled {
	color: red;
}

/* ===================================모달 창 css==================================== */
#myModal {
	position: fixed;
	width: 60%;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal {
	display: none; /* 모달 창을 초기에 숨김 */
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 50%;
	/* 	height: 50%; */
	overflow: auto;
	background-color: rgb(214 225 177/ 90%);
}

.modal-content {
	background-color: #fefefe;
	margin: 10px auto; /* 모달을 중앙에 배치하기 위한 여백 설정 */
	padding: 0px;
	border: 1px solid #888;
	width: 95%;
	height: 90%;
	position: relative; /* 모달 내부 요소들의 위치를 상대적으로 설정하기 위해 필요 */
}

.close-modal {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	text-align: center;
	margin-bottom: 20px;
}

.modal-body {
	text-align: center;
}
</style>


<script>
document.addEventListener("DOMContentLoaded", function() {
	document.querySelectorAll("form").forEach(function(form) {
		form.addEventListener("submit", function(event) {
			event.preventDefault(); // 기본 동작(페이지 새로고침) 방지
		});
	});
});
function toggleAccount(event, button) {
	event.preventDefault(); // 기본 동작(페이지 새로고침) 방지
	event.stopPropagation(); // 이벤트 전파 중지

	var form = button.closest("form");

	// 버튼 비활성화
	button.disabled = true;

	// 서버로 Ajax 요청 보내기
	var xhr = new XMLHttpRequest();
	xhr.open("POST", form.action, true); // POST 요청으로 수정
	xhr.setRequestHeader('Content-Type',
			'application/x-www-form-urlencoded');
	xhr.onload = function() {
		if (xhr.status === 200) {
			console.log(xhr.responseText);
			var response = JSON.parse(xhr.responseText);
			var newStatus = response.newStatus;

			// 변경된 상태를 실시간으로 업데이트하기 위해 페이지 일부를 새로 고침
			var url = form.getAttribute("action");
			var xhrUpdate = new XMLHttpRequest();
			xhrUpdate.open("GET", url, true);
			xhrUpdate.onload = function() {
				if (xhrUpdate.status === 200) {
					var parser = new DOMParser();
					var responseDoc = parser.parseFromString(
							xhrUpdate.responseText, "text/html");
					var newTable = responseDoc.querySelector("table");
					button.closest("table").parentNode.replaceChild(
							newTable, button.closest("table"));
				}
			};
			xhrUpdate.send();

			// 버튼 활성화 및 텍스트 변경
			if (newStatus === 0) {
				button.style.backgroundColor = ""; // 이전 색상으로 변경하거나 적절한 스타일 적용
			} else {
				button.style.backgroundColor = "red";
			}
			button.disabled = false;
			button.value = (newStatus === 0) ? "활동 중" : "활동 정지";
		} else {
			// 요청이 실패한 경우 버튼 활성화
			button.disabled = false;
		}
	};
	xhr.onerror = function() {
		// 요청이 실패한 경우 버튼 활성화
		button.disabled = false;
	};
	xhr.send(new URLSearchParams(new FormData(form)));
}

	//////////////////////////////토글 모달 창///////////////////////////////////////////	
 
	 function openModal(event, element) {
		event.preventDefault();

		var modal = document.getElementById("myModal");
		modal.style.display = "block";

		// 회원 정보 가져오기
		var userId = element.closest('tr').dataset.userId;
		var username = element.querySelector('#modal_username').textContent;
		var email = element.closest('tr').querySelector('td:nth-child(3)').textContent;
		var nickname = element.closest('tr').querySelector('td:nth-child(4)').textContent;
		var zipcode = element.closest('tr').querySelector('td:nth-child(6)').textContent;
		var address1 = element.closest('tr').querySelector('td:nth-child(7)').textContent;
		var address2 = element.closest('tr').querySelector('td:nth-child(8)').textContent;
		var createDate = element.closest('tr')
				.querySelector('td:nth-child(10)').textContent;

		// 모달 창 열기
		// 모달 창 내 요소에 값 채우기
		document.getElementById('userId').textContent = userId;
		document.getElementById('username').textContent = username;
		document.getElementById('email').textContent = email;
		document.getElementById('nickname').textContent = nickname;
		document.getElementById('zipcode').textContent = zipcode;
		document.getElementById('address1').textContent = address1;
		document.getElementById('address2').textContent = address2;
		document.getElementById('createDate').textContent = createDate;

		// 폼 필드에 값 채우기
		document.getElementById('editUserId').value = userId;
		document.getElementById('editNickname').value = nickname;
		document.getElementById('editZipcode').value = zipcode;
		document.getElementById('editAddress1').value = address1;
		document.getElementById('editAddress2').value = address2;

	}

	
	
	
	// 모달 닫기 함수
	function closeModal() {
		var modal = document.getElementById("myModal");
		modal.style.display = "none";
	}

	// 모달 토글 함수
	function toggleModal() {
		var modal = document.getElementById("myModal");
		if (modal.style.display === "block") {
			closeModal();
		} else {
			openModal();
		}
	}

	// 모달 닫기 버튼 클릭 이벤트 처리
	document.addEventListener("DOMContentLoaded", function() {
		var closeModalButton = document.querySelector(".close-modal");
		closeModalButton.addEventListener("click", function(event) {
			event.preventDefault();
			closeModal();
		});
	});

	document.addEventListener("DOMContentLoaded", function() {
		document.querySelectorAll("tr[data-users-id]").forEach(
				function(row) {
					row.addEventListener("click", function(event) {
						event.preventDefault();
						event.stopPropagation();

						var userId = row.getAttribute("data-users-id");
						console.log(userId);
						console.log("=================");

						// 사용자 정보를 불러오는 AJAX 요청 수행
						var xhr = new XMLHttpRequest();
						xhr.open("GET", "/userListPage/{id}"
								+ encodeURIComponent(userId), true); // 사용자 정보를 불러오는 URL로 변경해야 합니다.
						xhr.onload = function() {
							if (xhr.status === 200) {
								var user = JSON.parse(xhr.responseText);
								displayUserInfo(user);
								toggleModal();
							} else {
								// 오류 처리
							}
						};
						xhr.onerror = function() {
							// 요청 실패 처리
						};
						xhr.send();
					});
				});
	});

	function displayUserInfo(users) {
		var userIdElement = document.getElementById("userId");
		var usernameElement = document.getElementById("username");
		var emailElement = document.getElementById("email");
		var nicknameElement = document.getElementById("nickname");
		var zipcodeElement = document.getElementById("zipcode");
		var address1Element = document.getElementById("address1");
		var address2Element = document.getElementById("address2");
		var createDateElement = document.getElementById("createDate");

		userIdElement.textContent = user.id;
		usernameElement.textContent = user.username;
		emailElement.textContent = user.email;
		nicknameElement.textContent = user.nickname;
		zipcodeElement.textContent = user.zipcode;
		address1Element.textContent = user.address1;
		address2Element.textContent = user.address2;
		createDateElement.textContent = user.createDate;
	} 

	////////////////////////////// 폼 제출 이벤트 처리/////////////////////////////////////////////
	/* 	var editForm = document.getElementById("editForm");
	 editForm.addEventListener("submit", function(event) {
	 event.preventDefault();
	 var formData = new FormData(editForm);
	 var xhr = new XMLHttpRequest();
	 xhr.open("POST", "/userListPage/{id}", true); // 회원 정보를 업데이트하는 URL로 변경해야 합니다.
	 xhr.onload = function() {
	 if (xhr.status === 200) {
	 // 회원 정보 수정 성공
	 // 적절한 처리를 수행하거나 모달 창을 닫을 수 있습니다.
	 toggleModal();
	 } else {
	 // 회원 정보 수정 실패
	 // 적절한 오류 처리를 수행할 수 있습니다.
	 }
	 };
	 xhr.onerror = function() {
	 // 요청 실패
	 // 적절한 오류 처리를 수행할 수 있습니다.
	 };
	 xhr.send(formData);
	 });

	 document
	 .addEventListener(
	 "DOMContentLoaded",
	 function() {
	 document
	 .querySelectorAll("tr[data-user-name]")
	 .forEach(
	 function(row) {
	 row
	 .addEventListener(
	 "click",
	 function(event) {
	 event
	 .preventDefault();
	 event
	 .stopPropagation();

	 var userId = row
	 .getAttribute("data-user-name");

	 var modalContent = document
	 .getElementById("modal-content");
	 modalContent.textContent = "Username: "
	 + userId;

	 // 회원 정보 로드 및 폼에 표시
	 var nicknameInput = document
	 .getElementById("nickname");
	 var userNickname = row
	 .querySelector("td:nth-child(4)").textContent;
	 nicknameInput.value = userNickname; // value 속성으로 값을 설정

	 toggleModal();
	 });
	 });
	 }); */
</script>

</head>
<body>
<html layout:decorate="~{khk/adminNavbar}">
<div layout:fragment="adminNav" class="container my-3">
	<h1>회원 리스트</h1>
	<div class="container">
		<div>
			<table>
				<thead>
					<tr>
						<th>회원 번호</th>
						<th>아이디</th>
						<th>이메일</th>
						<th>닉네임</th>
						<th>회원등급</th>
						<th>우편번호</th>
						<th>지번 주소</th>
						<th>상세 주소</th>
						<th>계정 상태</th>
						<th>계정 생성일</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}" th:data-user-id="${user.id}"
						th:data-account-status="${user.islock}">
						<td th:text="${user.id}"></td>

						<td><a href="#" onclick="openModal(event, this)"> <span
								id="modal_username" th:text="${user.username}"></span>
						</a></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.nickname}"></td>
						<td>
							<p>
								<span th:text="${user.role}" th:class="'role-' + ${user.role}"></span>
							</p>


							<form th:action="@{'/admin/' + ${user.id} + '/adminRole'}"
								method="post">
								<select name="role" onchange="this.nextElementSibling.click()">
									<option value="USER" th:selected="${user.role == 'USER'}">일반회원</option>
									<option value="PARTNER" th:selected="${user.role == 'PARTNER'}">파트너</option>
									<option value="ADMIN" th:selected="${user.role == 'ADMIN'}">관리자</option>
								</select> <input type="hidden" name="id" th:value="${user.id}" />
								<button type="submit">변경</button>
							</form>
						</td>
						<td th:text="${user.addr1}"></td>
						<td th:text="${user.addr2}"></td>
						<td th:text="${user.addr3}"></td>
						<td
							th:class="${user.islock == 0 ? '' : 'account-status-disabled'}">
							<form th:action="@{'/admin/toggle-account'}" method="post">
								<input type="hidden" name="username" th:value="${user.username}" />
								<input type="hidden" name="currentStatus"
									th:value="${user.islock}" /> <input type="hidden"
									name="newStatus" th:value="${user.islock == 0 ? 1 : 0}" /> <input
									type="submit" th:value="${user.islock == 0 ? '활동 중' : '활동 정지'}"
									onclick="toggleAccount(event, this); return false;"
									th:style="${user.islock == 0 ? '' : 'background-color: red;'}" />
							</form>
						</td>
						<td
							th:text="${#temporals.format(user.create_userTime,'yyyy-MM-dd')}"></td>
					</tr>


				</tbody>
			</table>
		</div>
	</div>

	<!------------------------------------------------------------------------- 회원 상세정보 모달창 ----------------------------------------------------------- -->
	<div id="myModal" class="modal" style="display: none;">
		<div class="modal-content">
			<button class="close-modal" onclick="toggleModal()">&times;</button>
			<h3>회원상세 정보</h3>
			<div class="user_container">
				<!-- <div>
					<table>
						<thead>
							<tr>
								<th>회원 번호</th>
								<th>아이디</th>
								<th>이메일</th>
								<th>닉네임</th>
								<th>우편번호</th>
								<th>지번 주소</th>
								<th>상세 주소</th>
								<th>계정 생성일</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td id="userId"></td>
								<td id="username"></td>
								<td id="email"></td>
								<td id="nickname"></td>
								<td id="zipcode"></td>
								<td id="address1"></td>
								<td id="address2"></td>
								<td id="createDate"></td>
							</tr>
						</tbody>
					</table>
				</div> -->
			</div>
			<form id="editForm" method="POST" action="/userListPage/{id}">
				<input type="hidden" name="id" id="editUserId" />
				<div>
					<label for="editNickname">닉네임:</label> <input type="text"
						id="editNickname" name="nickname" />
				</div>
				<div>
					<label for="editZipcode">우편번호:</label> <input type="text"
						id="editZipcode" name="zipcode" />
				</div>
				<div>
					<label for="editAddress1">지번 주소:</label> <input type="text"
						id="editAddress1" name="address1" />
				</div>
				<div>
					<label for="editAddress2">상세 주소:</label> <input type="text"
						id="editAddress2" name="address2" />
				</div>
				<input type="submit" value="저장">
			</form>

		</div>
	</div>




</body>
</html>